<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmBizProcMapper">

    <insert id="insert" parameterType="AdmBizProcVO">
		insert  /** AdmBizProc.insert */
		into ADM_BIZ_PROC(
				BIZ_PROC_ID,
				BIZ_PROC_NM,
			<if test="bizProcTpCd != null and bizProcTpCd != ''">
				BIZ_PROC_TP_CD,
			</if>
				CO_CD,
				DELT_FLG,
				CUST_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				)
		values(
				#{bizProcId},
				#{bizProcNm},
			<if test="bizProcTpCd != null and bizProcTpCd != ''">
				#{bizProcTpCd},
			</if>
				#{coCd},
				#{deltFlg},
				#{custFlg},
				#{creUsrId}, sysdate, #{updUsrId}, sysdate
				)
	</insert>

	<update id="updateWithMap" parameterType="hashMap">
		update  /** AdmBizProc.updateWithMap */
		ADM_BIZ_PROC set
		<if test="bizProcId != null and bizProcId != ''">
			BIZ_PROC_ID = #{bizProcId},
		</if>
		<if test="bizProcNm != null and bizProcNm != ''">
			BIZ_PROC_NM = #{bizProcNm},
		</if>
		<if test="bizProcTpCd != null and bizProcTpCd != ''">
			BIZ_PROC_TP_CD = #{bizProcTpCd},
		</if>
		<if test="coCd != null and coCd != ''">
			CO_CD = #{coCd},
		</if>
		<if test="deltFlg != null and deltFlg != ''">
			DELT_FLG = #{deltFlg},
		</if>
		<if test="custFlg != null and custFlg != ''">
			CUST_FLG = #{custFlg},
		</if>
		upd_usr_id = #{updateUser},
		upd_dt = sysdate
		where	1 = 1
		and		BIZ_PROC_ID = #{bizProcId}
	</update>

	<resultMap type="AdmRsrcRolePhsVO" id="AdmRsrcRolePhsMap2">
		<result property="rsrcRolePhsId" column="RSRC_ROLE_PHS_ID" javaType="String"/>
		<result property="rsrcRoleCd" column="RSRC_ROLE_CD" javaType="String"/>
		<result property="procPhsId" column="PROC_PHS_ID" javaType="String"/>
		<result property="creUsrId" column="cre_usr_id" />
		<result property="updUsrId" column="upd_usr_id" />
		<result property="creDt" column="cre_dt" />
		<result property="updDt" column="upd_dt" />
	</resultMap>
	<select id="selectRolePhaseByPhsId" resultMap="AdmRsrcRolePhsMap2" parameterType="String">
		SELECT 	/** sqlmapBizProcPhase.selectRolePhaseByPhsId */
				RSRC_ROLE_PHS_ID,
				RSRC_ROLE_CD,
				PROC_PHS_ID,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		FROM	ADM_RSRC_ROLE_PHS
		WHERE	1 = 1
		AND		PROC_PHS_ID = #{procPhsId}
	</select>
</mapper>