<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmCntMapper">

    <resultMap type="AdmCntVO" id="AdmCntMap">
        <result property="cntCd" column="CNT_CD" javaType="String"/>
        <result property="cntNm" column="CNT_NM" javaType="String"/>
        <result property="ntnNm" column="NTN_NM" javaType="String"/>
        <result property="phnCd" column="PHN_CD" javaType="Integer"/>
        <result property="createUser" column="cre_usr_id" />
        <result property="updateUser" column="upd_usr_id" />
        <result property="createDate" column="cre_dt" />
        <result property="updateDate" column="upd_dt" />
    </resultMap>

    <select id="selectAll" resultMap="AdmCntMap">
		select 	/** AdmCnt.selectAll */
				CNT_CD,
				CNT_NM,
				NTN_NM,
				PHN_CD,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_CNT
	</select>

    <insert id="insert" parameterType="AdmCntVO">
		insert  /** AdmCnt.insert */
		into ADM_CNT(
				CNT_CD,
				CNT_NM,
				NTN_NM,
				PHN_CD,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				)
		values(
				#{cntCd},
				#{cntNm},
				#{ntnNm},
				#{phnCd},
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>
    <update id="update" parameterType="AdmCntVO">
		update  /** AdmCnt.update */
		ADM_CNT set
				CNT_CD = #{cntCd},
				CNT_NM = #{cntNm},
				NTN_NM = #{ntnNm},
				PHN_CD = #{phnCd},
				upd_usr_id = #{updateUser},
				upd_dt = sysdate
		where	1 = 1
		and		CNT_CD = #{cntCd}
	</update>
    <update id="updateWithMap" parameterType="hashMap">
        update  /** AdmCnt.updateWithMap */
        ADM_CNT set
        <if test="cntCd != null and cntCd != ''">
            CNT_CD = #{cntCd},
        </if>
        <if test="cntNm != null and cntNm != ''">
            CNT_NM = #{cntNm},
        </if>
        <if test="ntnNm != null and ntnNm != ''">
            NTN_NM = #{ntnNm},
        </if>

        <if test="phnCd != null and phnCd != ''">
            PHN_CD = #{phnCd},
        </if>
        upd_usr_id = #{updateUser},
        upd_dt = sysdate
        where	1 = 1
        and		CNT_CD = #{cntCd}
    </update>

    <select id="selectByKey" resultMap="AdmCntMap" parameterType="AdmCntVO">
		select 	/** AdmCnt.selectByKey */
				CNT_CD,
				CNT_NM,
				NTN_NM,
				PHN_CD,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_CNT
		where	1 = 1
		and		CNT_CD = #{cntCd}
	</select>
    <delete id="delete" parameterType="AdmCntVO">
		delete  /** AdmCnt.delete */
		ADM_CNT
		where	1 = 1
		and		CNT_CD = #{cntCd}
	</delete>
</mapper>