<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmDlayNtfcBatMapper">
    <resultMap type="AdmDlayNtfcBatVO" id="AdmDlayNtfcBatMap">
        <result property="pjtId" column="PJT_ID" javaType="String"/>
        <result property="recrcHrsNo" column="RECRC_HRS_NO" javaType="Float"/>
        <result property="rmdrHrsNo" column="RMDR_HRS_NO" javaType="Float"/>
        <result property="createUser" column="cre_usr_id"/>
        <result property="updateUser" column="upd_usr_id"/>
        <result property="createDate" column="cre_dt"/>
        <result property="updateDate" column="upd_dt"/>
    </resultMap>
    <select id="selectByKey" resultMap="AdmDlayNtfcBatMap">
        select /** AdmDlayNtfcBat.selectByKey */
            PJT_ID,
            RECRC_HRS_NO,
            RMDR_HRS_NO,
            cre_usr_id,
            cre_dt,
            upd_usr_id,
            upd_dt
        from ADM_DLAY_NTFC_BAT
        where 1 = 1
          and PJT_ID = #{pjtId}
    </select>
    <update id="update">
        update /** AdmDlayNtfcBat.update */
            ADM_DLAY_NTFC_BAT
        set PJT_ID       = #{pjtId},
            RECRC_HRS_NO = #{recrcHrsNo},
            RMDR_HRS_NO  = #{rmdrHrsNo},
            upd_usr_id   = #{updateUser},
            upd_dt       = sysdate
        where 1 = 1
          and PJT_ID = #{pjtId}
    </update>
    <insert id="insert">
        insert /** AdmDlayNtfcBat.insert */
        into ADM_DLAY_NTFC_BAT(PJT_ID,
                               RECRC_HRS_NO,
                               RMDR_HRS_NO,
                               cre_usr_id, cre_dt, upd_usr_id, upd_dt)
        values (#{pjtId},
                #{recrcHrsNo},
                #{rmdrHrsNo},
                #{createUser}, sysdate, #{updateUser}, sysdate)
    </insert>
</mapper>
