<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmHisMapper">
    <resultMap id= "AdmEmpeTpHisMap" type ="AdmHisVO">
        <result property="tableId" column="TBL_ID" />
        <result property="recordId" column="REC_ID" />
        <result property="changeAttribute" column="CNG_ATTR_NM" />
        <result property="effectDate" column="EFF_DT" />
        <result property="newValue" column="NEW_VAL" />
    </resultMap>

    <insert id="insertHistory" parameterType="hashMap" timeout="10">
        insert  /** insert into ADM_HIS */
        INTO ADM_HIS (
            TBL_ID,
            REC_ID,
            CNG_ATTR_NM,
            EFF_DT,
            NEW_VAL,
            UPD_DT,
            CRE_DT,
            UPD_USR_ID,
            CRE_USR_ID
        ) values(
            'ADM_USR',
            #{recordId},
            'EMPE_TP_CD',
        <if test="strStartDt != null and strStartDt != ''">
            to_date(#{strStartDt},'YYYY-MM-DD HH24:MI'),
        </if>
        <if test="strStartDt == null or strStartDt == ''">
            sysdate,
        </if>
            #{newValue},
            sysdate,
            sysdate,
            #{updateUser},
            #{updateUser}
        )
    </insert>

    <update id="updateHistoryEffDt" parameterType="hashMap">
        UPDATE ADM_HIS
        SET eff_dt = to_date(#{newStartDt}, 'YYYY-MM-DD HH24:MI'),
            new_val = #{newValue},
            upd_usr_id = #{updateUser},
            upd_dt = sysdate
        WHERE rec_id = #{recordId}
        AND eff_dt = (SELECT * FROM
                    (SELECT eff_dt FROM adm_his
                     WHERE rec_id = #{recordId} AND eff_dt = to_date(#{oldStartDt}, 'YYYY-MM-DD')
                     UNION
                     SELECT MIN(eff_dt) FROM adm_his WHERE rec_id = #{recordId})
                    WHERE rownum = 1)
    </update>
<!-- 
    <select>
        SELECT
            NEW_VAL
        FROM
            adm_his h
        WHERE
            tbl_id = 'ADM_USR'
            AND   cng_attr_nm = 'EMPE_TP_CD'
            AND   rec_id = 'phucbui'
            AND   eff_dt < SYSDATE
            AND ROWNUM = 1
        ORDER BY
            eff_dt DESC
    </select> -->

</mapper>
