<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmProcPhsMapper">

    <insert id="insert" parameterType="AdmProcPhsVO">
		insert  /** AdmProcPhs.insert */ 
		into ADM_PROC_PHS( 
				PROC_PHS_ID,
				BIZ_PROC_ID,
				PHS_CD,
				BAK_PHS_CD,
				PHS_ORD_NO,
				PCT_NO,
				PRNT_PHS_ID,
				PAIR_PHS_CD,
				WRK_HR_NO,
				ASGN_RSRC_TP_CD,
				WRK_HR_FX_FLG,
				EFRT_PCT_NO,
				REL_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				) 
		values(	
				#{procPhsId},
				#{bizProcId},
				#{phsCd},
				#{bakPhsCd},
				#{phsOrdNo},
				#{pctNo},
				#{prntPhsId},
				#{pairPhsCd},
				#{wrkHrNo},
				#{asgnRsrcTpCd},
				#{wrkHrFxFlg},
				#{efrtPctNo},
				#{relFlg},
				#{creUsrId}, sysdate, #{updUsrId}, sysdate
				)
	</insert>

	<delete id="delete" parameterType="AdmProcPhsVO">
		delete  /** AdmProcPhs.delete */
		ADM_PROC_PHS
		where	1 = 1
		and		PROC_PHS_ID = #{procPhsId}
	</delete>

	<resultMap type="AdmProcPhsVO" id="AdmProcPhsMap">
		<result property="procPhsId" column="PROC_PHS_ID" javaType="String"/>
		<result property="bizProcId" column="BIZ_PROC_ID" javaType="String"/>
		<result property="phsCd" column="PHS_CD" javaType="String"/>
		<result property="bakPhsCd" column="BAK_PHS_CD" javaType="String"/>
		<result property="phsOrdNo" column="PHS_ORD_NO" javaType="Integer"/>
		<result property="pctNo" column="PCT_NO" javaType="Integer"/>
		<result property="prntPhsId" column="PRNT_PHS_ID" javaType="String"/>
		<result property="pairPhsCd" column="PAIR_PHS_CD" javaType="String"/>
		<result property="wrkHrNo" column="WRK_HR_NO" javaType="Float"/>
		<result property="asgnRsrcTpCd" column="ASGN_RSRC_TP_CD" javaType="String"/>
		<result property="wrkHrFxFlg" column="WRK_HR_FX_FLG" javaType="String"/>
		<result property="efrtPctNo" column="EFRT_PCT_NO" javaType="Integer"/>
		<result property="creUsrId" column="cre_usr_id" />
		<result property="updUsrId" column="upd_usr_id" />
		<result property="creDt" column="cre_dt" />
		<result property="updDt" column="upd_dt" />
	</resultMap>
	<select id="selectByKey" resultMap="AdmProcPhsMap">
		select 	/** AdmProcPhs.selectByKey */
				PROC_PHS_ID,
				BIZ_PROC_ID,
				PHS_CD,
				BAK_PHS_CD,
				PHS_ORD_NO,
				PCT_NO,
				PRNT_PHS_ID,
				PAIR_PHS_CD,
				WRK_HR_NO,
				ASGN_RSRC_TP_CD,
				WRK_HR_FX_FLG,
				EFRT_PCT_NO,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_PROC_PHS
		where	1 = 1
		<if test="procPhsId != null and procPhsId != ''">
		and		PROC_PHS_ID = #{procPhsId}
		</if>
		<if test="bizProcId != null and bizProcId != ''">
			and		BIZ_PROC_ID = #{bizProcId}
		</if>
		order by PHS_ORD_NO
	</select>
</mapper>