<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmPjtXterCfgMapper">
    <insert id="insert" parameterType="AdmPjtXterCfgVO">
		insert  /** AdmPjtXterCfgMapper.insert */
		into ADM_PJT_XTER_CFG(
				PJT_ID,
				JB_TP_CD,
				ITRTN_ID,
				BIZ_PROC_ID,
				IMPT_TP_CD,
				XTER_IP_ADDR,
				XTER_DMN_NM,
				USE_FLG,
				SSO_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				) 
		values(	
				#{pjtId},
				#{jbTpCd},
				#{itrtnId},
				#{bizProcId},
				#{imptTpCd},
				#{xterIpAddr},
				#{xterDmnNm},
				#{useFlg},
				#{ssoFlg},
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>

	<update id="update" parameterType="AdmPjtXterCfgVO">
		update /** AdmPjtXterCfgMapper.update */
		ADM_PJT_XTER_CFG set
		<if test="jbTpCd != null and jbTpCd != ''">
			JB_TP_CD = #{jbTpCd},
		</if>
		<if test="itrtnId != null and itrtnId != ''">
			ITRTN_ID = #{itrtnId},
		</if>
		<if test="bizProcId != null and bizProcId != ''">
			BIZ_PROC_ID = #{bizProcId},
		</if>
		<if test="imptTpCd != null and imptTpCd != ''">
			IMPT_TP_CD = #{imptTpCd},
		</if>
		<if test="xterIpAddr != null and xterIpAddr != ''">
			XTER_IP_ADDR = #{xterIpAddr},
		</if>
		<if test="xterDmnNm != null and xterDmnNm != ''">
			XTER_DMN_NM = #{xterDmnNm},
		</if>
		<if test="useFlg != null and useFlg != ''">
			USE_FLG = #{useFlg},
		</if>
		<if test="ssoFlg != null and ssoFlg != ''">
			SSO_FLG = #{ssoFlg},
		</if>
		upd_usr_id = #{updateUser},
		upd_dt = sysdate
		where 1 = 1
		and PJT_ID = #{pjtId}
	</update>
</mapper>