<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmRoleMapper">

	<resultMap id="AdmRoleMap" type="AdmRoleVO">
		<result property="roleId" column="ROLE_ID" javaType="String" />
		<result property="prntRoleId" column="PRNT_ROLE_ID" javaType="String" />
		<result property="roleNm" column="ROLE_NM" javaType="String" />
		<result property="roleDesc" column="ROLE_DESC" javaType="String" />
		<result property="roleTpCd" column="ROLE_TP_CD" javaType="String" />
		<result property="isHardRole" column="IS_HARD_ROLE" javaType="String" />
		<result property="ordNo" column="ORD_NO" javaType="String" />
		<result property="coCd" column="CO_CD" javaType="String" />
		<result property="uqflg" column="UQ_FLG" javaType="String" />
		<result property="createUser" column="cre_usr_id" />
		<result property="updateUser" column="upd_usr_id" />
		<result property="createDate" column="cre_dt" />
		<result property="updateDate" column="upd_dt" />
	</resultMap>
	<select id="selectByKey" parameterType="AdmRoleVO" resultMap="AdmRoleMap">
		select 	/** AdmRole.selectByKey */
				ROLE_ID,
				PRNT_ROLE_ID,
				ROLE_NM,
				ROLE_DESC,
				ROLE_TP_CD,
				IS_HARD_ROLE,
				ORD_NO,
				CO_CD,
				UQ_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_ROLE
		where	1 = 1
		and		ROLE_ID = #{roleId}
	</select>

	<select id="selectAll" resultMap="AdmRoleMap">
		select 	/** AdmRole.selectAll */
				ROLE_ID,
				PRNT_ROLE_ID,
				ROLE_NM,
				ROLE_DESC,
				ROLE_TP_CD,
				IS_HARD_ROLE,
				ORD_NO,
				CO_CD,
				UQ_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_ROLE
	</select>

	<insert id="insert" parameterType="AdmRoleVO">
		insert  /** AdmRole.insert */
		into ADM_ROLE(
				ROLE_ID,
				PRNT_ROLE_ID,
				ROLE_NM,
		<if test="roleDesc != null and roleDesc != ''">
					ROLE_DESC,
		</if>
				ROLE_TP_CD,
				IS_HARD_ROLE,
				ORD_NO,
				CO_CD,
				UQ_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				)
		values(
				#{roleId},
				#{prntRoleId},
				#{roleNm},
		<if test="roleDesc != null and roleDesc != ''">
					#{roleDesc},
		</if>
				#{roleTpCd},
				#{isHardRole},
				(select NVL(max(ORD_NO),0) from ADM_ROLE where CO_CD = #{coCd}) +1,
				#{coCd},
				#{uqflg},
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>

	<update id="update" parameterType="AdmRoleVO">
		update  /** AdmRole.update */
		ADM_ROLE set
		<!-- PRNT_ROLE_ID = #{prntRoleId},
				ROLE_NM = #{roleNm},
				ROLE_DESC = #{roleDesc},
				ROLE_TP_CD = #{roleTpCd},
				IS_HARD_ROLE = #{isHardRole},
				ORD_NO = #{ordNo},
				CO_CD = #{coCd},
				UQ_FLG = #{uqflg}, -->
		<if test="prntRoleId != null and prntRoleId != ''">
					PRNT_ROLE_ID = #{prntRoleId},
				</if>
		<if test="roleNm != null and roleNm != ''">
					ROLE_NM = #{roleNm},
				</if>
		<if test="roleDesc != null">
					ROLE_DESC = #{roleDesc},
				</if>
		<if test="roleTpCd != null and roleTpCd != ''">
					ROLE_TP_CD = #{roleTpCd},
				</if>
		<if test="isHardRole != null and isHardRole != ''">
					IS_HARD_ROLE = #{isHardRole},
				</if>
		<if test="ordNo != null and ordNo != ''">
					ORD_NO = #{ordNo},
				</if>
		<if test="coCd != null and coCd != ''">
					CO_CD = #{coCd},
				</if>
		<if test="uqflg != null and uqflg != ''">
					UQ_FLG = #{uqflg},
				</if>
		upd_usr_id = #{updateUser},
				upd_dt = sysdate
		where	1 = 1
		and		ROLE_ID = #{roleId}
	</update>

	<update id="updateWithMap" parameterType="hashMap">
		update  /** AdmRole.updateWithMap */
		ADM_ROLE set
		<if test="roleId != null and roleId != ''">
			ROLE_ID = #{roleId},
		</if>
		<if test="prntRoleId != null and prntRoleId != ''">
			PRNT_ROLE_ID = #{prntRoleId},
		</if>
		<if test="roleNm != null and roleNm != ''">
			ROLE_NM = #{roleNm},
		</if>
		<if test="roleDesc != null and roleDesc != ''">
			ROLE_DESC = #{roleDesc},
		</if>
		<if test="roleTpCd != null and roleTpCd != ''">
			ROLE_TP_CD = #{roleTpCd},
		</if>
		<if test="isHardRole != null and isHardRole != ''">
			IS_HARD_ROLE = #{isHardRole},
		</if>
		<if test="ordNo != null and ordNo != ''">
			ORD_NO = #{ordNo},
		</if>
		<if test="coCd != null and coCd != ''">
			CO_CD = #{coCd},
		</if>
		<if test="uqflg != null and uqflg != ''">
			UQ_FLG = #{uqflg},
		</if>
		upd_usr_id = #{updateUser},
		upd_dt = sysdate
		where	1 = 1
		and		ROLE_ID = #{roleId}
	</update>

	<delete id="deleteRole" parameterType="AdmRoleVO">
		delete  /** AdmRole.delete */
		ADM_ROLE
		where	
		ADM_ROLE.ROLE_ID = #{roleId, javaType=String , jdbcType=VARCHAR}
		AND ADM_ROLE.IS_HARD_ROLE != 'Y'
	</delete>

</mapper>