<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmSynchronizeMapper">

    <update id="mergeIntoSynchronize" parameterType="AdmSynchronizeVO">
        merge into ADM_SYNC_RPT
        using DUAL on ( REC_ID = #{recordId} and DAT_TP_CD = #{dataType} and PJT_ID =  #{pjtId})
        when matched then update
        set 
            BLOB_DAT_DESC = #{data,jdbcType=VARCHAR, typeHandler=com.dou.common.models.JsonTypeHandler},
            ACT_CD = #{actCd},
            UPD_USR_ID = #{updateUser},
            UPD_DT = sysdate,
            SYNC_STS_FLG = #{statusFlag}
        when not matched then
        insert (
            REC_ID,
            DAT_TP_CD,
            BLOB_DAT_DESC,
            ACT_CD,
            SYNC_STS_FLG,
            PJT_ID,
            CRE_USR_ID,
            UPD_USR_ID,
            CRE_DT,
            UPD_DT
            )
        values
            ( #{recordId},
            #{dataType},
            #{data,jdbcType=VARCHAR, typeHandler=com.dou.common.models.JsonTypeHandler},
            #{actCd},
            #{statusFlag},
            #{pjtId},
            #{updateUser},
            #{updateUser},
            sysdate,
            sysdate
            )
    </update>
	
    <resultMap id="AdmSynchronizeMap" type="AdmSynchronizeVO">
		<result property="recordId" column="REC_ID"/>
		<result property="dataType" column="DAT_TP_CD"/>
        <result property="pjtId" column="PJT_ID"/>
        <result property="statusFlag" column="SYNC_STS_FLG"/>
        <result property="actCd" column="ACT_CD"/>
        <result property="data" column="BLOB_DAT_DESC" jdbcType="VARCHAR" typeHandler="com.dou.common.models.JsonTypeHandler"/>
	</resultMap>

    <select id="selectSynchronizeData" resultMap="AdmSynchronizeMap">
        select 
            REC_ID,
            DAT_TP_CD,
            PJT_ID,
            SYNC_STS_FLG,
            ACT_CD,
            BLOB_DAT_DESC
        from
            ADM_SYNC_RPT
        where
            1=1
            and PJT_ID = #{pjtId}
            and SYNC_STS_FLG = 'F'
    </select>

    <update id="deleteSynchronizedData">
        <if test="lstRecId != null and lstRecId.size() &gt; 0">
            update ADM_SYNC_RPT
            set SYNC_STS_FLG = 'T'
            where 1 = 1
                and PJT_ID = #{pjtId}
                <trim prefix="and REC_ID in ">
                    <foreach item="item" index="index" collection="lstRecId"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </trim>
        </if>
    </update>
</mapper>