<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmTeamUsrMapper">

    <resultMap id="AdmTeamUsrMap" type="AdmTeamUsrVO">
        <result property="teamId" column="TEAM_ID" javaType="String"/>
        <result property="usrId" column="USR_ID" javaType="String"/>
        <result property="aplyStDt" column="APLY_ST_DT" javaType="java.sql.Date"/>
        <result property="aplyEndDt" column="APLY_END_DT" javaType="java.sql.Date"/>
        <result property="createUser" column="cre_usr_id"/>
        <result property="updateUser" column="upd_usr_id"/>
        <result property="createDate" column="cre_dt"/>
        <result property="updateDate" column="upd_dt"/>
    </resultMap>

    <select id="selectByKey" parameterType="AdmTeamUsrVO" resultMap="AdmTeamUsrMap">
        select /** AdmTeamUsr.selectByKey */
            TEAM_ID,
            USR_ID,
            APLY_ST_DT,
            APLY_END_DT,
            cre_usr_id,
            cre_dt,
            upd_usr_id,
            upd_dt
        from ADM_TEAM_USR
        where 1 = 1
          and TEAM_ID = #{teamId}
          and USR_ID = #{usrId}
    </select>
    <select id="selectAll" resultMap="AdmTeamUsrMap">
        select /** AdmTeamUsr.selectAll */
            TEAM_ID,
            USR_ID,
            APLY_ST_DT,
            APLY_END_DT,
            cre_usr_id,
            cre_dt,
            upd_usr_id,
            upd_dt
        from ADM_TEAM_USR
    </select>
    <insert id="insert" parameterType="AdmTeamUsrVO">
        insert /** AdmTeamUsr.insert */
        into ADM_TEAM_USR(TEAM_ID,
                          USR_ID,
                          APLY_ST_DT,
                          APLY_END_DT,
                          cre_usr_id, cre_dt, upd_usr_id, upd_dt,
                          APRO_OWNR_FLG)
        values (#{teamId},
                #{usrId},
                #{aplyStDt},
                #{aplyEndDt},
                #{createUser}, sysdate, #{updateUser}, sysdate,
                #{ownerFlg})
    </insert>
    <update id="update" parameterType="AdmTeamUsrVO">
        update /** AdmTeamUsr.update */
            ADM_TEAM_USR
        set TEAM_ID     = #{teamId},
            USR_ID      = #{usrId},
            APLY_ST_DT  = #{aplyStDt},
            APLY_END_DT = #{aplyEndDt},
            upd_usr_id  = #{updateUser},
            upd_dt      = sysdate
        where 1 = 1
          and TEAM_ID = #{teamId}
          and USR_ID = #{usrId}
    </update>
    <update id="updateWithMap" parameterType="hashMap">
        update /** AdmTeamUsr.updateWithMap */
        ADM_TEAM_USR set
        <if test="teamId != null and teamId != ''">
            TEAM_ID = #{teamId},
        </if>
        <if test="usrId != null and usrId != ''">
            USR_ID = #{usrId},
        </if>
        <if test="aplyStDt != null and aplyStDt != ''">
            APLY_ST_DT = #{aplyStDt},
        </if>
        <if test="aplyEndDt != null and aplyEndDt != ''">
            APLY_END_DT = #{aplyEndDt},
        </if>
        upd_usr_id = #{updateUser},
        upd_dt = sysdate
        where 1 = 1
        and TEAM_ID = #{teamId}
        and USR_ID = #{usrId}
    </update>
    <delete id="delete" parameterType="AdmTeamUsrVO">
        delete /** AdmTeamUsr.delete */
            ADM_TEAM_USR
        where 1 = 1
          and TEAM_ID = #{teamId}
          and USR_ID = #{usrId}
    </delete>
    <select id="checkOwnerFlg" resultType="Integer">
        SELECT /**AdmTeamUsr.checkOwnerFlg*/
            COUNT(*)
        FROM ADM_TEAM_USR
        WHERE USR_ID = #{usrId}
    </select>
    <select id="checkTeam" resultType="String">
        SELECT /**AdmTeamUsr.checkTeam*/
            TEAM_ID
        FROM ADM_TEAM_USR
        WHERE USR_ID = #{userId}
          AND APRO_OWNR_FLG = 'Y'
    </select>
    <update id="updateAllTeamUsr">
        UPDATE /**AdmTeamUsr.updateAllTeamUsr*/
            ADM_TEAM_USR
        SET APRO_OWNR_FLG = #{ownerFlg},
            upd_usr_id  = #{updateUser},
            upd_dt      = sysdate
        WHERE 
            USR_ID = #{usrId} 
            and 
            APRO_OWNR_FLG = 'Y'
    </update>
    <update id="updateTeamUsr">
        UPDATE /**AdmTeamUsr.updateTeamUsr*/
            ADM_TEAM_USR
        SET APRO_OWNR_FLG = #{ownerFlg},
            upd_usr_id  = #{updateUser},
            upd_dt      = sysdate
        WHERE 
            USR_ID = #{usrId}
            AND 
            TEAM_ID = #{teamId}
    </update>
    <select id="getMainTeam" resultMap="AdmTeamUsrMap">
        SELECT /**AdmTeamUsr.getMainTeam*/
          *
        FROM ADM_TEAM_USR
        WHERE USR_ID = #{userId}
        AND APRO_OWNR_FLG = 'Y'
    </select>
    <delete id="deleteAllByUsrId" parameterType="hashMap">
        delete /** AdmTeamUsr.deleteAllByUsrId */
            ADM_TEAM_USR
        where 1 = 1
          and USR_ID = #{usrId}
    </delete>
    <select id="checkUsrExist" parameterType="hashMap" resultMap="AdmTeamUsrMap">
        SELECT /** AdmTeamUsr.checkUsrExist */
            * 
        FROM ADM_TEAM_USR
        WHERE 1 = 1
            AND USR_ID = #{usrId}
            AND TEAM_ID = #{teamId}
    </select>
    <delete id="deleteAllByTeamId" parameterType="hashMap">
        delete /** AdmTeamUsr.deleteAllByTeamId */
            ADM_TEAM_USR
        where 1 = 1
          and TEAM_ID = #{teamId}
    </delete>
    <select id="findUserOwnerFlgByTeamId" parameterType="hashMap" resultMap="AdmTeamUsrMap">
        SELECT /** AdmTeamUsr.findUserOwnerFlgByTeamId */
            *
        FROM ADM_TEAM_USR
        WHERE 1 = 1
            AND TEAM_ID = #{teamId}
            AND APRO_OWNR_FLG = #{ownerFlg}
    </select>
</mapper>