<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.AdmTeamMapper">

	<resultMap id="AdmTeamMap" type="AdmTeamVO">
		<result property="teamId" column="TEAM_ID" javaType="String"/>
		<result property="deltStsFlg" column="DELT_STS_FLG" javaType="String"/>
		<result property="prntTeamId" column="PRNT_TEAM_ID" javaType="String"/>
		<result property="teamNm" column="TEAM_NM" javaType="String"/>
		<result property="coCd" column="CO_CD" javaType="String"/>
		<result property="teamStDt" column="TEAM_ST_DT" javaType="java.sql.Date"/>
		<result property="teamEndDt" column="TEAM_END_DT" javaType="java.sql.Date"/>
		<result property="teamDesc" column="TEAM_DESC" javaType="String"/>
		<result property="teamLvl" column="TEAM_LVL" javaType="Integer"/>
		<result property="ordByNo" column="ORD_BY_NO" javaType="Integer"/>
		<result property="teamCd" column="TEAM_CD" javaType="String"/>
		<result property="teamMgrId" column="TEAM_MGR_ID" javaType="String"/>
		<result property="createUser" column="cre_usr_id"/>
		<result property="updateUser" column="upd_usr_id"/>
		<result property="createDate" column="cre_dt"/>
		<result property="updateDate" column="upd_dt"/>
	</resultMap>

	<select id="selectByKey" parameterType="AdmTeamVO" resultMap="AdmTeamMap">
		select 	/** AdmTeam.selectByKey */
				TEAM_ID,
				DELT_STS_FLG,
				PRNT_TEAM_ID,
				TEAM_NM,
				CO_CD,
				TEAM_ST_DT,
				TEAM_END_DT,
				TEAM_DESC,
				TEAM_LVL,
				ORD_BY_NO,
				TEAM_CD,
				TEAM_MGR_ID,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_TEAM
		where	1 = 1
		and		TEAM_ID = #{teamId}
	</select>

	<select id="selectAll" resultMap="AdmTeamMap">
		select 	/** AdmTeam.selectAll */
				TEAM_ID,
				DELT_STS_FLG,
				PRNT_TEAM_ID,
				TEAM_NM,
				CO_CD,
				TEAM_ST_DT,
				TEAM_END_DT,
				TEAM_DESC,
				TEAM_LVL,
				ORD_BY_NO,
				TEAM_CD,
				TEAM_MGR_ID,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_TEAM
	</select>

	<insert id="insert" parameterType="AdmTeamVO">
		insert  /** AdmTeam.insert */
		into ADM_TEAM(
				TEAM_ID,
				DELT_STS_FLG,
				PRNT_TEAM_ID,
				TEAM_NM,
				CO_CD,
				TEAM_DESC,
				TEAM_LVL,
				ORD_BY_NO,
				TEAM_CD,
				TEAM_MGR_ID,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				)
		values(
				#{teamId},
				#{deltStsFlg},
				#{prntTeamId},
				#{teamNm},
				#{coCd},
				#{teamDesc},
				#{teamLvl},
				#{ordByNo},
				#{teamCd},
				#{teamMgrId},
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>

	<update id="update" parameterType="AdmTeamVO">
		update  /** AdmTeam.update */
		ADM_TEAM set
				TEAM_ID = #{teamId},
				DELT_STS_FLG = #{deltStsFlg},
				PRNT_TEAM_ID = #{prntTeamId},
				TEAM_NM = #{teamNm},
				CO_CD = #{coCd},
				TEAM_ST_DT = #{teamStDt},
				TEAM_END_DT = #{teamEndDt},
				TEAM_DESC = #{teamDesc},
				TEAM_LVL = #{teamLvl},
				ORD_BY_NO = #{ordByNo},
				TEAM_CD = #{teamCd},
				TEAM_MGR_ID = #{teamMgrId},
				upd_usr_id = #{updateUser},
				upd_dt = sysdate
		where	1 = 1
		and		TEAM_ID = #{teamId}
	</update>

	<update id="updateWithMap" parameterType="hashMap">
		update  /** AdmTeam.updateWithMap */
		ADM_TEAM set
		<if test="teamId != null and teamId != ''">
			TEAM_ID = #{teamId},
		</if>
		<if test="deltStsFlg != null and deltStsFlg != ''">
			DELT_STS_FLG = #{deltStsFlg},
		</if>
		<if test="prntTeamId != null and prntTeamId != ''">
			PRNT_TEAM_ID = #{prntTeamId},
		</if>
		<if test="teamNm != null and teamNm != ''">
			TEAM_NM = #{teamNm},
		</if>
		<if test="coCd != null and coCd != ''">
			CO_CD = #{coCd},
		</if>
		<if test="teamStDt != null and teamStDt != ''">
			TEAM_ST_DT = #{teamStDt},
		</if>
		<if test="teamEndDt != null and teamEndDt != ''">
			TEAM_END_DT = #{teamEndDt},
		</if>
		<if test="teamDesc != null and teamDesc != ''">
			TEAM_DESC = #{teamDesc},
		</if>
		<if test="teamLvl != null and teamLvl != ''">
			TEAM_LVL = #{teamLvl},
		</if>
		<if test="ordByNo != null and ordByNo != ''">
			ORD_BY_NO = #{ordByNo},
		</if>
		<if test="teamCd != null and teamCd != ''">
			TEAM_CD = #{teamCd},
		</if>
		<if test="teamMgrId != null and teamMgrId != ''">
			TEAM_MGR_ID = #{teamMgrId},
		</if>
		upd_usr_id = #{updateUser},
		upd_dt = sysdate
		where	1 = 1
		and		TEAM_ID = #{teamId}
	</update>
	<delete id="delete" parameterType="AdmTeamVO">
		delete  /** AdmTeam.delete */
		ADM_TEAM
		where	1 = 1
		and		TEAM_ID = #{teamId}
	</delete>

</mapper>