<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.BusinessProcessManagementMapper">
    <resultMap type="com.dou.adm.models.AdmRoleVO" id="AdmRoleMap">
        <result property="roleId" column="ROLE_ID" javaType="String"/>
        <result property="roleNm" column="ROLE_NM" javaType="String"/>
        <result property="roleTpCd" column="ROLE_TP_CD" javaType="String"/>
        <result property="coCd" column="CO_CD" javaType="String"/>
    </resultMap>
    <select id="selectRoleByType" resultMap="AdmRoleMap" parameterType="String">
		select 	/** BizProcPhase.selectRoleByType */
				ROLE_ID,
				ROLE_NM,
				ROLE_TP_CD,
				CO_CD
		from	ADM_ROLE
		where	1 = 1
		and		ROLE_TP_CD = #{roleTpCd}
		order by ROLE_NM ASC
	</select>

    <update id="updateProcessPhase">
		UPDATE ADM_PROC_PHS
		SET PCT_NO = #{pctNo},
		    EFRT_PCT_NO = #{efrtPctNo},
		    REL_FLG = #{relFlg},
		    UPD_USR_ID = #{updUsrId},
		    UPD_DT = sysdate
		WHERE PROC_PHS_ID = #{procPhsId}
	</update>

    <resultMap type="com.dou.adm.models.BizProcVO" id="BizProcMap">
        <result property="bizProcId" column="BIZ_PROC_ID" javaType="String"/>
        <result property="bizProcNm" column="BIZ_PROC_NM" javaType="String"/>
        <result property="bizProcTpCd" column="BIZ_PROC_TP_CD" javaType="String"/>
        <result property="bizProcTpNm" column="BIZ_PROC_TP_NM" javaType="String"/>
        <result property="coCd" column="CO_CD" javaType="String"/>
    <!--    <result property="deltFlg" column="DELT_FLG" javaType="String"/>
        <result property="custFlg" column="CUST_FLG" javaType="String"/>
        <result property="creUsrId" column="cre_usr_id" />
        <result property="updUsrId" column="upd_usr_id" />
        <result property="creDt" column="cre_dt" />
        <result property="updDt" column="upd_dt" />-->
    </resultMap>
    <select id="searchBizProcess" resultMap="BizProcMap" parameterType="hashMap">
        /** BizProcPhase.selectBizProcess */
        SELECT
        PROC.CRE_USR_ID,
        PROC.CRE_DT,
        PROC.UPD_USR_ID,
        PROC.UPD_DT,
        PROC.BIZ_PROC_ID,
        PROC.BIZ_PROC_NM ,
        BIZ_PROC_TP_CD ,
        CO_CD ,
        PROC.DELT_FLG ,
        PROC.CUST_FLG
        FROM	ADM_BIZ_PROC PROC
        <if test="comCd != null and comCd != ''">
            ,ADM_PJT_BIZ_PROC PJT
        </if>
        where	1 = 1
        AND PROC.delt_flg = 'N'
        <if test="comCd == null || comCd == ''">
            AND	PROC.CO_CD IS NULL
        </if>
        <if test="comCd != null and comCd != ''">
            AND PROC.CO_CD 			=#{comCd}
            AND PROC.BIZ_PROC_ID    = PJT.BIZ_PROC_ID
            <if test="pjtId != null and pjtId != ''">
                AND PJT.PJT_ID         	=#{pjtId}
            </if>
            <if test=" itrtnId != null and itrtnId != ''">
                AND PJT.ITRTN_ID        =#{itrtnId}
            </if>
            AND PJT.DELT_FLG 		= 'N'
        </if>
        <if test=" bizProcNm != null and bizProcNm != ''">
            AND UPPER(PROC.BIZ_PROC_NM) LIKE '%' || UPPER(#{bizProcNm})  || '%'
        </if>
        <if test=" bizProcTp != null and bizProcTp != ''">
            AND	BIZ_PROC_TP_CD =#{bizProcTp}
        </if>
        ORDER BY PROC.BIZ_PROC_NM ASC, PROC.CUST_FLG DESC
    </select>

    <resultMap type="BizProcPhsVO" id="PhsPntMap">
        <result property="procPhsId" column="PROC_PHS_ID" javaType="String"/>
        <result property="phsNm" column="PHS_NM" javaType="String"/>
        <result property="phsCd" column="PHS_CD" javaType="String"/>
        <result property="bakPhsCd" column="BAK_PHS_CD" javaType="String"/>
        <result property="nxtPhsCd" column="NXT_PHS_CD" javaType="String"/>
        <result property="bakPhsNm" column="BAK_PHS_NM" javaType="String"/>
        <result property="nxtPhsNm" column="NXT_PHS_NM" javaType="String"/>
        <result property="rsrcRoleNm" column="RSRC_ROLE_NM" javaType="String"/>
        <result property="pctNo" column="PCT_NO" javaType="Integer"/>
        <result property="efrtPctNo" column="EFRT_PCT_NO" javaType="Integer"/>
        <result property="relFlg" column="REL_FLG" javaType="String"/>
    </resultMap>
    <select id="selectProcPhsByBizFull" resultMap="PhsPntMap" parameterType="hashMap">
        SELECT
        /** BizProcPhase.selectProcPhsByBizFull */
        (
        SELECT PHS_NM FROM PIM_PHS_PPT WHERE PHS_CD = PHS.PHS_CD AND CO_CD = #{coCd}
        ) PHS_NM,
        PHS_CD,
        (SELECT LISTAGG((SELECT PHS_NM FROM PIM_PHS_PPT WHERE PHS_CD = ADM_NXT_PHS.PHS_CD AND CO_CD = #{coCd}),',') WITHIN GROUP (ORDER BY ADM_NXT_PHS.PHS_CD)
        FROM ADM_NXT_PHS
        WHERE 1                     =1
        AND ADM_NXT_PHS.PROC_PHS_ID = PHS.PROC_PHS_ID
        GROUP BY ADM_NXT_PHS.PROC_PHS_ID
        ) NXT_PHS_NM ,
        (SELECT LISTAGG((SELECT PHS_CD FROM PIM_PHS_PPT WHERE PHS_CD = ADM_NXT_PHS.PHS_CD AND CO_CD = #{coCd}),',') WITHIN GROUP (ORDER BY ADM_NXT_PHS.PHS_CD)
        FROM ADM_NXT_PHS
        WHERE 1                     =1
        AND ADM_NXT_PHS.PROC_PHS_ID = PHS.PROC_PHS_ID
        GROUP BY ADM_NXT_PHS.PROC_PHS_ID
        ) NXT_PHS_CD ,
        (
        SELECT PHS_NM FROM PIM_PHS_PPT WHERE PHS_CD = BAK_PHS_CD AND CO_CD = #{coCd}
        ) BAK_PHS_NM,
        BAK_PHS_CD,
        (SELECT LISTAGG(ROLE_NM,',') WITHIN GROUP (ORDER BY ADM_ROLE.ROLE_ID)
        FROM ADM_RSRC_ROLE_PHS ,
        ADM_ROLE
        WHERE 1                            =1
        AND ADM_RSRC_ROLE_PHS.RSRC_ROLE_CD = ADM_ROLE.ROLE_ID
        AND ADM_RSRC_ROLE_PHS.PROC_PHS_ID  = phs.PROC_PHS_ID
        GROUP BY ADM_RSRC_ROLE_PHS.PROC_PHS_ID
        ) RSRC_ROLE_NM ,
        NVL(PHS.pct_no, 0) PCT_NO,
        PHS.PROC_PHS_ID,
        NVL(PHS.EFRT_PCT_NO, 0) EFRT_PCT_NO,
        PHS.REL_FLG
        FROM ADM_PROC_PHS PHS
        WHERE 1             = 1
        and		PHS.BIZ_PROC_ID = #{bizProcId}
        order by PHS.PROC_PHS_ID
    </select>

    <resultMap type="com.dou.adm.models.BizProcPhsVO" id="BizProcPhsMap">
        <result property="procPhsId" column="PROC_PHS_ID" javaType="String"/>
        <result property="bizProcId" column="BIZ_PROC_ID" javaType="String"/>
        <result property="phsCd" column="PHS_CD" javaType="String"/>
        <result property="phsNm" column="PHS_NM" javaType="String"/>
        <result property="bakPhsCd" column="BAK_PHS_CD" javaType="String"/>
        <result property="bakPhsNm" column="BAK_PHS_NM" javaType="String"/>
        <result property="phsOrdNo" column="PHS_ORD_NO" javaType="Integer"/>
        <result property="nxtPhsCd" column="NXT_PHS_CD" javaType="String"/>
        <result property="nxtPhsNm" column="NXT_PHS_NM" javaType="String"/>
        <result property="rsrcRoleCd" column="RSRC_ROLE_CD" javaType="String"/>
        <result property="rsrcRoleNm" column="RSRC_ROLE_NM" javaType="String"/>
        <result property="ntfyRoleCd" column="NTFY_ROLE_CD" javaType="String"/>
        <result property="ntfyRoleNm" column="NTFY_ROLE_NM" javaType="String"/>
        <result property="creUsrId" column="cre_usr_id" />
        <result property="updUsrId" column="upd_usr_id" />
        <result property="creDt" column="cre_dt" />
        <result property="updDt" column="upd_dt" />
        <result property="isUse" column="is_use" />
        <result property="pctNo" column="PCT_NO" javaType="Integer"/>
        <result property="pairPhsCd" column="PAIR_PHS_CD" javaType="String"/>
        <result property="wrkHrNo" column="WRK_HR_NO" javaType="Float"/>
        <result property="asgnRsrcTpCd" column="ASGN_RSRC_TP_CD" javaType="String"/>
        <result property="efrtPctNo" column="EFRT_PCT_NO" javaType="Integer"/>
        <result property="relFlg" column="REL_FLG" javaType="String"/>
    </resultMap>
    <select id="selectBizProcPhs" resultMap="BizProcPhsMap" parameterType="hashMap">
        select /** BizProcPhase.selectBizProcPhs */
        BIZ.BIZ_PROC_ID,
        PHS.PROC_PHS_ID,
        PHS.PHS_CD,
        PHS.PCT_NO,
        (SELECT PHS_NM FROM PIM_PHS_PPT WHERE PHS_CD = PHS.PHS_CD AND CO_CD = #{coCd}) PHS_NM,
        NXT.NXT_PHS_CD,
        NXT.NXT_PHS_NM,
        PHS.BAK_PHS_CD,
        (SELECT PHS_NM FROM PIM_PHS_PPT WHERE PHS_CD = PHS.BAK_PHS_CD AND CO_CD = #{coCd}) BAK_PHS_NM,
        RSRC.RSRC_ROLE_CD,
        RSRC.RSRC_ROLE_NM,
        NTFY.NTFY_ROLE_CD,
        NTFY.NTFY_ROLE_NM,
        PHS.PHS_ORD_NO,
        PHS.cre_usr_id,
        PHS.cre_dt,
        PHS.upd_usr_id,
        PHS.upd_dt,
        ( CASE WHEN (SELECT count('X') FROM	PIM_REQ
        WHERE	1 = 1
        AND		BIZ_PROC_ID = #{bizProcId}) <![CDATA[<=]]>  0 THEN 'N' ELSE 'Y' END ) as is_use,
        PHS.PAIR_PHS_CD,
        PHS.WRK_HR_NO,
        PHS.ASGN_RSRC_TP_CD,
        NVL(PHS.EFRT_PCT_NO, 0) EFRT_PCT_NO,
        PHS.REL_FLG
        from
        ADM_PROC_PHS PHS,
        (
        SELECT
        PROC_PHS_ID,
        LISTAGG(NXT.PHS_CD,',') WITHIN GROUP (ORDER BY NXT.PHS_CD) NXT_PHS_CD,
        LISTAGG(PPT.PHS_NM,',') WITHIN GROUP (ORDER BY PPT.PHS_CD ) NXT_PHS_NM
        FROM ADM_NXT_PHS NXT,
        PIM_PHS_PPT PPT
        WHERE NXT.PHS_CD = PPT.PHS_CD
        <if test="coCd != null and coCd !=''">
            AND PPT.CO_CD = #{coCd}
        </if>
        GROUP BY PROC_PHS_ID
        ) NXT,
        (
        SELECT
        PHS.PROC_PHS_ID,
        LISTAGG(PHS.RSRC_ROLE_CD,',') WITHIN GROUP (ORDER BY PHS.RSRC_ROLE_CD) RSRC_ROLE_CD,
        LISTAGG(RLE.ROLE_NM,',') WITHIN GROUP (ORDER BY RLE.ROLE_ID) RSRC_ROLE_NM
        FROM
        ADM_RSRC_ROLE_PHS PHS, ADM_ROLE RLE
        where PHS.RSRC_ROLE_CD = RLE.ROLE_ID
        GROUP BY PROC_PHS_ID
        ) RSRC,
        (
        SELECT
        PHS.PROC_PHS_ID,
        LISTAGG(PHS.NTFY_ROLE_CD,',') WITHIN GROUP (ORDER BY PHS.NTFY_ROLE_CD) NTFY_ROLE_CD,
        LISTAGG(RLE.ROLE_NM,',') WITHIN GROUP (ORDER BY RLE.ROLE_ID) NTFY_ROLE_NM
        FROM
        ADM_NTFY_ROLE_PHS PHS, ADM_ROLE RLE
        where PHS.NTFY_ROLE_CD = RLE.ROLE_ID
        GROUP BY PROC_PHS_ID
        ) NTFY,
        ADM_BIZ_PROC BIZ
        where 1= 1
        and BIZ.BIZ_PROC_ID = PHS.BIZ_PROC_ID
        and PHS.PROC_PHS_ID = NXT.PROC_PHS_ID(+)
        and PHS.PROC_PHS_ID = RSRC.PROC_PHS_ID(+)
        and PHS.PROC_PHS_ID = NTFY.PROC_PHS_ID(+)
        and (BIZ.delt_Flg is null or BIZ.delt_Flg = 'N')
        <if test="bizProcId != null and bizProcId !=''">
            and BIZ.BIZ_PROC_ID = #{bizProcId}
        </if>
        <if test="bizProcNm != null and bizProcNm !=''">
            and upper(BIZ.BIZ_PROC_NM) like '%' || upper(#{bizProcNm})  || '%'
        </if>
        order by BIZ.BIZ_PROC_ID,PHS.PHS_ORD_NO
    </select>


    <select id="selectBizProcForCheck"  parameterType="hashMap" resultType="Integer">
        select 	/** BizProcPhase.selectDuplicateBizProc */
        count(0)
        FROM	ADM_BIZ_PROC PROC
        <if test="comCd != null and comCd != ''">
            ,ADM_PJT_BIZ_PROC PJT
        </if>
        where	1 = 1
        AND PROC.delt_flg = 'N'
        <if test="comCd == null || comCd == ''">
            AND	PROC.CO_CD IS NULL
        </if>
        <if test="comCd != null and comCd != ''">
            AND PROC.CO_CD 			=#{comCd}
            AND PROC.BIZ_PROC_ID    = PJT.BIZ_PROC_ID
            <if test="pjtId != null and pjtId != ''">
                AND PJT.PJT_ID         	=#{pjtId}
            </if>
            <if test=" itrtnId != null and itrtnId != ''">
                AND PJT.ITRTN_ID        =#{itrtnId}
            </if>
            AND PJT.DELT_FLG 		= 'N'
        </if>
        <if test="bizProcNm != null and bizProcNm != ''">
            AND TRIM(UPPER(PROC.BIZ_PROC_NM)) = TRIM(UPPER(#{bizProcNm}))
        </if>
        <if test="bizProcId != null and bizProcId != ''">
            AND PROC.BIZ_PROC_ID != #{bizProcId}
        </if>
    </select>

    <update id="deleteBizProcess" parameterType="BizProcPhsVO">
		update  /**  sqlmapBizProcPhase.updateDelFlgBizProcess */
		ADM_BIZ_PROC set
				DELT_FLG = 'Y',
				upd_usr_id = #{updUsrId},
				upd_dt = sysdate
		where	1 = 1
		and		BIZ_PROC_ID = #{bizProcId}
	</update>

    <resultMap type="AdmProcPhsVO" id="AdmProcPhsMapForSave">
        <result property="procPhsId" column="PROC_PHS_ID" javaType="String"/>
        <result property="bizProcId" column="BIZ_PROC_ID" javaType="String"/>
        <result property="phsCd" column="PHS_CD" javaType="String"/>
        <result property="bakPhsCd" column="BAK_PHS_CD" javaType="String"/>
        <result property="phsOrdNo" column="PHS_ORD_NO" javaType="Integer"/>
        <result property="pctNo" column="PCT_NO" javaType="Integer"/>
        <result property="efrtPctNo" column="EFRT_PCT_NO" javaType="Integer"/>
    </resultMap>
    <select id="selectPhaseByBizPhsId" resultMap="AdmProcPhsMapForSave" parameterType="hashMap">
		/** sqlmapBizProcPhase.selectPhaseByBizPhsId */
			SELECT PROC_PHS_ID,
				BIZ_PROC_ID,
				PHS_CD,
				BAK_PHS_CD,
				PHS_ORD_NO,
				PCT_NO,
				EFRT_PCT_NO
			FROM  ADM_PROC_PHS PHS
			WHERE 1 = 1
			AND phs.biz_proc_id = #{bizProcId}
	</select>

    <delete id="deleteRsrcRole" parameterType="hashMap">
		delete  /** BizProcPhase.deleteRsrcRole */
		ADM_RSRC_ROLE_PHS
		where	1 = 1
		and		PROC_PHS_ID = #{procPhsId}
	</delete>
    <delete id="deleteNxtPhase" parameterType="hashMap">
		delete  /** BizProcPhase.deleteNxtPhase */
		ADM_NXT_PHS
		where	1 = 1
		and		PROC_PHS_ID = #{procPhsId}
	</delete>

</mapper>