<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.ButtonMgmtMapper">
	<resultMap id="AdmBtnAuthVOMap" type="AdmBtnAuthVO">
		<result property="btnNo" column="BTN_NO" javaType="String" />
		<result property="btnNm" column="BTN_NM" javaType="String" />
		<result property="createUser" column="CRE_USR_ID" javaType="String" />
		<result property="createDate" column="CRE_DT" javaType="String" />
		<result property="updateUser" column="UPD_USR_ID" javaType="String" />
		<result property="updateDate" column="UPD_DT" javaType="String" />
	</resultMap>

	<select id="searchButtonAuthority" resultMap="AdmBtnAuthVOMap">
		/** ButtonMgmt.searchButtonAuthority */
		 SELECT
				BTN_NO,
				BTN_NM,
				CRE_USR_ID,
				TO_CHAR(CRE_DT, 'YYYY-MM-DD') as CRE_DT,
				UPD_USR_ID,
				TO_CHAR(UPD_DT, 'YYYY-MM-DD') as UPD_DT
		 FROM	
				ADM_BTN_AUTH
		<if test="btnNm != null and btnNm != '' ">
		 WHERE
					upper(BTN_NM) like '%' || upper(#{btnNm}) || '%'
		</if>
		Order By TO_NUMBER(BTN_NO)
	</select>

	<select id="selectButton" resultMap="AdmBtnAuthVOMap" parameterType="String">
		/** ButtonMgmt.searchButtonAuthority */
		SELECT
		BTN_NO,
		BTN_NM,
		CRE_USR_ID,
		TO_CHAR(CRE_DT, 'YYYY-MM-DD') as CRE_DT,
		UPD_USR_ID,
		TO_CHAR(UPD_DT, 'YYYY-MM-DD') as UPD_DT
		FROM
		ADM_BTN_AUTH
		WHERE 1 = 1
			AND BTN_NO = #{btnNo}
	</select>

	<insert id="insertButton" parameterType="hashMap">
		INSERT INTO ADM_BTN_AUTH(
				BTN_NO,
				BTN_NM,
				CRE_USR_ID,
				CRE_DT,
				UPD_USR_ID,
				UPD_DT
				)
		VALUES(
				#{btnNo},
				#{btnNm},
				#{creUsrId},
				sysdate,
				#{updUsrId},
				sysdate
				)
	</insert>

	<update id="updateButton" parameterType="hashMap">
		UPDATE ADM_BTN_AUTH
		SET
				BTN_NM = #{btnNm},
				UPD_USR_ID = #{updUsrId},
				UPD_DT = sysdate
		WHERE
				BTN_NO = #{btnNo}
	</update>

	<delete id="deleteButton">
   		/** ButtonMgmt.deleteButton */
		DELETE 
		FROM 	
				ADM_BTN_AUTH
		WHERE
				BTN_NO = #{btnNo}

	</delete>

</mapper>