<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.CalendarSettingVacationMapper">

	<resultMap id="AdmVacMap" type="AdmVacVO">
		<result property="coCd"    column="CO_CD"     javaType="String"/>
		<result property="vacId"   column="VAC_ID"    javaType="String"/>
		<result property="vacDt"   column="VAC_DT"    javaType="String"/>
		<result property="vacDesc" column="VAC_DESC"  javaType="String"/>
		<result property="vacTpCd" column="VAC_TP_CD" javaType="String"/>
		<result property="teamId"  column="TEAM_ID"   javaType="String"/>
	</resultMap>

	<select id="selectByKey" parameterType="com.dou.adm.models.AdmVacVO" resultMap="AdmVacMap">
		select 	/** CldVac.selectByKey */
				CO_CD,
				VAC_ID,
				VAC_DT,
				VAC_DESC,
				VAC_TP_CD,
				TEAM_ID
		from	ADM_VAC
		where	1 = 1
		and		CO_CD = #{coCd}
		<if test="vacDt == null || vacDt == ''">
			<if test="vacId != null and vacId != ''">
			and		VAC_ID = #{vacId}
			</if>
		</if>
		<if test="vacDt != null and vacDt != ''">
			and		VAC_DT = #{vacDt}
			<if test="vacId != null and vacId != ''">
				and		VAC_ID != #{vacId}
			</if>
		</if>
		AND 	DELT_FLG = 'N'
	</select>

	<select id="getAllVacationByCompanyCode" parameterType="hashMap" resultMap="AdmVacMap">
		select 	/** AdmVac.getAllVacationByCompanyCode */
				CO_CD,
				VAC_ID,
				VAC_DT,
				VAC_DESC,
				VAC_TP_CD,
				TEAM_ID
		from	ADM_VAC
		where	CO_CD = #{coCd}
		AND 	VAC_TP_CD = 'ADM_VAC_TPANL'
		AND 	DELT_FLG = 'N'
		UNION ALL

		SELECT CO_CD,
				VAC_ID,
				VAC_DT,
				VAC_DESC,
				VAC_TP_CD,
				TEAM_ID
		FROM	ADM_VAC
		WHERE	CO_CD = #{coCd}
		AND 	VAC_DT like '${year}%'
		AND 	DELT_FLG = 'N'
	</select>

	<insert id="insertVacation" parameterType="AdmVacVO">
		insert  /** CldVac.insert */
		into ADM_VAC(
		CO_CD,
		VAC_ID,
		VAC_DT,
		VAC_DESC,
		VAC_TP_CD,
		TEAM_ID,
		DELT_FLG,
		CRE_USR_ID,
		CRE_DT,
		UPD_USR_ID,
		UPD_DT
		)
		values(
		#{coCd},
		#{vacId},
		#{vacDt},
		#{vacDesc},
		#{vacTpCd},
		NVL(#{teamId}, '0'),
		'N',
		<if test="createUser != null and createUser != ''">
			#{createUser},
		</if>
		<if test="createUser == null or createUser == ''">
			'admin',
		</if>
		SYSDATE,
		<if test="updateUser != null and updateUser != ''">
			#{updateUser},
		</if>
		<if test="updateUser == null or updateUser == ''">
			'admin',
		</if>
		SYSDATE
		)
	</insert>

	<update id="updateVacation" parameterType="AdmVacVO">
		update  /** CldVac.update */
		ADM_VAC set
		CO_CD = #{coCd},
		VAC_ID = #{vacId},
		VAC_DT = #{vacDt},
		VAC_DESC = #{vacDesc},
		VAC_TP_CD = #{vacTpCd},
		TEAM_ID = NVL(#{teamId}, '0'),
		<if test="updateUser != null and updateUser != ''">
			upd_usr_id = #{updateUser},
		</if>
		<if test="updateUser == null or updateUser == ''">
			upd_usr_id = 'admin',
		</if>
		upd_dt = sysdate
		where	1 = 1
		and		CO_CD = #{coCd}
		and		VAC_ID = #{vacId}
	</update>

	<update id="updateWithMap" parameterType="AdmVacVO">
		update  /** CldVac.updateWithMap */
		ADM_VAC set
		<if test="coCd != null and coCd != ''">
			CO_CD = #{coCd},
		</if>
		<if test="vacId != null and vacId != ''">
			VAC_ID = #{vacId},
		</if>
		<if test="vacDt != null and vacDt != ''">
			VAC_DT = #{vacDt},
		</if>
		<if test="vacDesc != null and vacDesc != ''">
			VAC_DESC = #{vacDesc},
		</if>
		<if test="vacTpCd != null and vacTpCd != ''">
			VAC_TP_CD = #{vacTpCd},
		</if>
		<if test="teamId != null and teamId != ''">
			TEAM_ID = #{teamId},
		</if>
		<if test="vacTpCd == null or vacTpCd == ''">
			TEAM_ID = '0',
		</if>
		<if test="updateUser != null and updateUser != ''">
			upd_usr_id = #{updateUser},
		</if>
		<if test="updateUser == null or updateUser == ''">
			upd_usr_id = 'admin',
		</if>
		upd_dt = sysdate
		where	1 = 1
		and		CO_CD = #{coCd}
		and		VAC_ID = #{vacId}
	</update>

	<delete id="deleteVacation" parameterType="AdmVacVO">
		/** CldVac.delete */
		UPDATE ADM_VAC
		SET DELT_FLG = 'Y',
		<if test="updateUser != null and updateUser != ''">
			upd_usr_id = #{updateUser},
		</if>
		<if test="updateUser == null or updateUser == ''">
			upd_usr_id = 'admin',
		</if>
		UPD_DT = SYSDATE
		WHERE VAC_ID = #{vacId}
	</delete>

</mapper>