<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.CodeMgmtMapper">
	<resultMap type="AdmComCdVO" id="AdmComCdVOMap">
		<result property="prntCd" column="prntCd" javaType="String"/>
		<result property="comCd" column="comCd" javaType="String"/>
		<result property="prntKeyTmp" column="prntKeyTmp" javaType="String"/>
		<result property="cdNm" column="cdNm" javaType="String"/>
		<result property="cdColor" column="cdColor" javaType="String"/>
		<result property="cdShrtNm" column="cdShrtNm" javaType="String"/>
		<result property="cdDesc" column="cdDesc" javaType="String"/>
		<result property="cdKrnDesc" column="cdKrnDesc" javaType="String"/>
		<result property="deltStsFlg" column="deltStsFlg" javaType="String"/>
		<result property="useFlg" column="useFlg" javaType="String"/>
		<result property="ordByNo" column="ordByNo" javaType="Integer"/>
		<result property="imgUrl" column="imgUrl" javaType="String"/>
		<result property="mode" column="mode" javaType="Integer"/>
		<result property="level" column="level" javaType="Integer"/>
	</resultMap>
	<select id="selectCommonCodeList" resultMap="AdmComCdVOMap">
		/** qms.CodeManagement.selectCommonCodeList */
		SELECT PRNT_CD        AS "prntCd",
		COM_CD              AS "comCd",
		PRNT_KEY_TMP        AS "prntKeyTmp",
		CD_NM               AS "cdNm",
		COLR_VAL            AS "cdColor",
		CD_SHRT_NM          AS "cdShrtNm",
		CD_DESC             AS "cdDesc",
		CD_KRN_DESC         AS "cdKrnDesc",
		UPPER(DELT_STS_FLG) AS "deltStsFlg",
		UPPER(USE_FLG)      AS "useFlg",
		ORD_BY_NO           AS "ordByNo",
		IMG_URL             AS "imgUrl",
		'0'                 AS "mode",
		LEVEL               AS "level"
		FROM
		(SELECT PRNT_CD,
		COM_CD ,
		(TRIM(PRNT_CD)
		|| TRIM(COM_CD))PRNT_KEY_TMP,
		CD_NM,
		COLR_VAL,
		CD_SHRT_NM,
		CD_DESC,
		CD_KRN_DESC,
		DELT_STS_FLG,
		USE_FLG,
		ORD_BY_NO,
		IMG_URL
		FROM ADM_COM_CD
		WHERE
		UPPER(DELT_STS_FLG) = 'N'
		<if test="coCd != null and coCd != ''">
			AND CO_CD                 = #{coCd}
		</if>
		<if test="coCd == null or coCd == ''">
			AND CO_CD                IS NULL
		</if>
		)ADM_COM_CD_FILTER
		START WITH TRIM(PRNT_CD)     IS NULL
		CONNECT BY NOCYCLE PRIOR COM_CD = TRIM(PRNT_CD)
		ORDER SIBLINGS BY ORD_BY_NO,
		UPPER(prnt_key_tmp)
	</select>

	<select id="checkParentAvailable" resultType="Integer">
		SELECT  /** qms.CodeManagement.checkParentAvailable */
		count(PRNT_CD) as COUNT
		FROM ADM_COM_CD
		WHERE 1=1
		AND UPPER(DELT_STS_FLG) = 'N'
		AND TRIM(PRNT_CD) || TRIM(COM_CD) = #{key}
		<if test="coCd != null and coCd != ''">
			AND ( CO_CD = #{coCd} or CO_CD is null)
		</if>
	</select>

	<update id="updateWithMap">
		update  /** qms.AdmComCd.updateWithMap */
		ADM_COM_CD set
		<if test="comCd != null and comCd != ''">
			COM_CD = #{comCd},
		</if>
		<if test="prntCd != null and prntCd != ''">
			PRNT_CD = #{prntCd},
		</if>

		COLR_VAL = #{cdColor},


		<if test="cdNm != null and cdNm != ''">
			CD_NM = #{cdNm},
		</if>
		CD_SHRT_NM = #{cdShrtNm},
		CD_DESC = #{cdDesc},
		CD_KRN_DESC = #{cdKrnDesc},
		<if test="ordByNo != null and ordByNo != ''">
			ORD_BY_NO = #{ordByNo},
		</if>
		<if test="useFlg != null and useFlg != ''">
			USE_FLG = #{useFlg},
		</if>
		<if test="deltStsFlg != null and deltStsFlg != ''">
			DELT_STS_FLG = #{deltStsFlg},
		</if>
		<!-- <if test="imgUrl != null and imgUrl != ''"> -->
			IMG_URL = #{imgUrl},
		<!-- </if> -->
		<if test="createUser != null and createUser != ''">
			cre_usr_id = #{createUser},
		</if>
		upd_usr_id = #{updateUser},
		upd_dt = sysdate
		where	1 = 1
		and		COM_CD = #{comCd}
		<if test="prntCd != null and prntCd != ''">
			and PRNT_CD = #{prntCd}
		</if>
		and UPPER(DELT_STS_FLG) = 'N'
	</update>

	<update id="deleteCode">
		UPDATE ADM_COM_CD
        		SET DELT_STS_FLG = 'Y'
		WHERE
		    (PRNT_CD, COM_CD)
		    IN
		      (SELECT
		            PRNT_CD
		            ,COM_CD
		      FROM
		          (SELECT
		                PRNT_CD,
		                COM_CD ,
		                TRIM(PRNT_CD) || TRIM(COM_CD) AS PRNT_OF_CHILD
		           FROM ADM_COM_CD)ADM_COM_CD_FILTER
		      START WITH PRNT_OF_CHILD = #{startRoot}
		      CONNECT BY PRIOR PRNT_OF_CHILD = TRIM(PRNT_CD))
	</update>

	<insert id="insert" >
		insert  /** adm.AdmComCd.insert */
		into ADM_COM_CD(
				COM_CD,
				PRNT_CD,
				CD_NM,
				CD_SHRT_NM,
				COLR_VAL,
				CD_DESC,
				CD_KRN_DESC,
				USE_FLG,
				DELT_STS_FLG,
				ORD_BY_NO,
				CD_LVL,
				IMG_URL,
		<if test="coCd != null and coCd != ''">
			CO_CD,
		</if>
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				)
		values(
				#{comCd},
				#{prntCd},
				#{cdNm},
				#{cdShrtNm},
				#{cdColor},
				#{cdDesc},
				#{cdKrnDesc},
				#{useFlg},
				#{deltStsFlg},
				#{ordByNo},
				#{cdLvl},
				#{imgUrl},
		<if test="coCd != null and coCd != ''">
			#{coCd},
		</if>
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>
</mapper>
