<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.CurrencyMapper">
    <resultMap type="AdmCurrVO" id="AdmCurrMap">
        <result property="currCd" column="CURR_CD" javaType="String"/>
        <result property="currNm" column="CURR_NM" javaType="String"/>
        <result property="createUser" column="cre_usr_id"/>
        <result property="updateUser" column="upd_usr_id"/>
        <result property="createDate" column="cre_dt"/>
        <result property="updateDate" column="upd_dt"/>
    </resultMap>
    <select id="selectByKey" resultMap="AdmCurrMap">
        select /** AdmCurr.selectByKey */
            CURR_CD,
            CURR_NM,
            cre_usr_id,
            cre_dt,
            upd_usr_id,
            upd_dt
        from ADM_CURR
        where 1 = 1
          and CURR_CD = #{currCd}
    </select>
    <select id="selectAll" resultMap="AdmCurrMap">
        select /** AdmCurr.selectAll */
            CURR_CD,
            CURR_NM,
            cre_usr_id,
            cre_dt,
            upd_usr_id,
            upd_dt
        from ADM_CURR
    </select>
    <insert id="insert">
        insert /** AdmCurr.insert */
        into ADM_CURR(CURR_CD,
                      CURR_NM,
                      cre_usr_id, cre_dt, upd_usr_id, upd_dt)
        values (#{currCd},
                #{currNm},
                #{createUser}, sysdate, #{updateUser}, sysdate)
    </insert>
    <update id="update">
        update /** AdmCurr.update */
            ADM_CURR
        set CURR_CD    = #{currCd},
            CURR_NM    = #{currNm},
            upd_usr_id = #{updateUser},
            upd_dt     = sysdate
        where 1 = 1
          and CURR_CD = #{currCd}
    </update>
    <update id="updateWithMap">
        update /** AdmCurr.updateWithMap */
        ADM_CURR set
        <if test="currCd.isNotEmpty()">
            CURR_CD = #{currCd},
        </if>
        <if test="currNm.isNotEmpty()">
            CURR_NM = #{currNm},
        </if>
        upd_usr_id = #{updateUser},
        upd_dt = sysdate
        where 1 = 1
        and CURR_CD = #{currCd}
    </update>
    <delete id="delete">
        delete /** AdmCurr.delete */
            ADM_CURR
        where 1 = 1
          and CURR_CD = #{currCd}
    </delete>
</mapper>