<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.FeedBackMapper">
    <insert id="insertFeedBack" >
        Insert INTO ADM_FB
        (FB_NO, FB_CTNT, USR_ID, CRE_DT, CRE_USR_ID, UPD_DT, UPD_USR_ID, EV_LV)
        VALUES (#{fbNo},
                #{fbContent},
                #{usrId},
                SYSDATE,
                #{usrId},
                sysdate,
                #{usrId},
                #{evLv})
    </insert>

    <insert id="insertFileAttachFb" >
		insert
		into ADM_FB_ATCH(
				ATCH_NO,
				FB_NO,
				FILE_NM,
				FILE_LOC_URL,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				)
		values(
				#{atchNo},
				#{czAtchNo},
				#{fileNm},
				#{fileLocUrl},
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>
</mapper>
