<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.InquiryStaffMapper">
	<!--
		Sorry, I can`t migrate	UiCom011VO
		See console output for further details 
	-->
	<!--
		Sorry, I can`t migrate	InquiryStaffVO
		See console output for further details 
	-->
	<resultMap id="SelectStaffMap" type="InquiryStaffVO">
		<result property="usrId" column="USR_ID" javaType="String"/>
		<result property="usrNm" column="USR_NM" javaType="String"/>
		<result property="hmPhnNo" column="HM_TEL_NO" javaType="String"/>
		<result property="eml" column="USR_EML" javaType="String"/>
		<result property="mphnNo" column="MPHN_NO" javaType="String"/>
<!--		<result property="teamId" column="TEAM_ID" javaType="String"/>-->
		<result property="teamNm" column="TEAM_NM" javaType="String"/>
		<result property="coNm" column="CO_NM" javaType="String"/>
		<result property="coCd" column="CO_CD" javaType="String"/>
<!--		<result property="aplyStDt" column="APLY_ST_DT" javaType="String"/>-->
<!--		<result property="aplyEndDt" column="APLY_END_DT" javaType="String"/>-->
	</resultMap>
	
	<select id="selectStaff" parameterType="UiCom011VO" resultMap="SelectStaffMap">
			select /**[SQLID:mcm.InquiryStaff.selectStaff]*/
			 	DISTINCT
					USR.USR_ID,
					USR.USR_NM,
					USR.HM_TEL_NO,
					USR.USR_EML,
					USR.MPHN_NO,
<!--					TEAMU.TEAM_ID,-->
<!--					TEAM.TEAM_NM AS TEAM_NM,-->
<!--					(select CO_NM from ADM_CO where CO_CD = USR.CO_CD)CO_NM,-->
					CO.CO_NM,
          			USR.CO_CD
<!--          			,to_char(TEAMU.APLY_ST_DT,'yyyymmdd') APLY_ST_DT,-->
<!--					to_char(TEAMU.APLY_END_DT,'yyyymmdd') APLY_END_DT-->
			FROM 
				ADM_USR USR 
<!--				, ADM_TEAM_USR TEAMU-->
<!--				, ADM_TEAM TEAM-->
				, ADM_CO CO
			WHERE 1 = 1
			
<!--			     AND USR.USR_ID = TEAMU.USR_ID(+)-->
<!--			     AND TEAMU.TEAM_ID = TEAM.TEAM_ID(+)-->
<!--			     AND TEAM.CO_CD = CO.CO_CD(+)-->
			     AND USR.CO_CD = CO.CO_CD
			     AND USR.ACT_FLG = 'Y'
			  	<if test="usrNm != null and usrNm != ''">
					AND UPPER(USR.USR_NM) like '%' || #{usrNm} || '%'
			  	</if>
			  	<if test="coCd != null and coCd != ''">
					AND USR.CO_CD = #{coCd}
			  	</if>
			ORDER BY USR_NM
	</select>
		<select id="searchStaffPjt_id" parameterType="hashMap" resultMap="SelectStaffMap">
			select /**[SQLID:mcm.InquiryStaff.searchStaffPjt_id]*/
			 	DISTINCT
					USR.USR_ID,
					USR.USR_NM,
					USR.HM_TEL_NO,
					USR.USR_EML,
					USR.MPHN_NO,
					CO.CO_NM,
          			USR.CO_CD,
          			  (SELECT TEA.TEAM_NM
					  FROM ADM_TEAM TEA, ADM_TEAM_USR TUS 
					  WHERE 1 = 1
					  AND TUS.APRO_OWNR_FLG = 'Y'
					  AND TEA.TEAM_ID = TUS.TEAM_ID
					  AND TUS.USR_ID = USR.USR_ID )TEAM_NM
					  
			FROM 
				ADM_USR USR 
				, ADM_CO CO
			WHERE 1 = 1
		
			     AND USR.CO_CD = CO.CO_CD
			     AND USR.ACT_FLG = 'Y'
			  	<if test="pjt_id != null and pjt_id != ''">
					AND USR.CO_CD  IN
  					(SELECT DISTINCT *
  					FROM
    				( SELECT DISTINCT SLS_CTRT_CO.CO_CD
    				FROM ADM_PJT_ITRTN ,
      				SLS_CTRT_CO
    				WHERE ADM_PJT_ITRTN.PJT_ID = #{pjt_id}
    				AND ADM_PJT_ITRTN.CTRT_ID  = SLS_CTRT_CO.CTRT_ID
    				UNION ALL
    				SELECT CO_CD FROM ADM_PJT WHERE ADM_PJT.PJT_ID = #{pjt_id}
    				)
  						) 
			  	</if>
					ORDER BY USR_NM
	</select>
		
</mapper>