<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.InquiryLanguageMapper">
    <resultMap type="PIADM_016VO" id="AdmLanguageMap">
        <result property="pjtId" column="PJT_ID" javaType="String"/>
        <result property="langCd" column="LANG_CD" javaType="String"/>
        <result property="cdName" column="CD_NM" javaType="String"/>
    </resultMap>
    <select id="searchLanguageByPjtId" resultMap="AdmLanguageMap">
        select /** AdmLanguage.selectLangId */
            COM2.CD_NM,
            LANG.LANG_CD,
            LANG.PJT_ID
        from ADM_COM_CD COM2,
             ADM_PJT_LANG LANG
        WHERE 1 = 1
          and concat(COM2.prnt_cd, COM2.com_cd) = LANG.LANG_CD
          and LANG.PJT_ID = #{pjtId}

    </select>
</mapper>