<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.InternetProtocolMapper">
    <resultMap id="AdmComCoMap" type="AdmCoVO">
        <result property="coCd" column="CO_CD" javaType="String"/>
        <result property="coNm" column="CO_NM" javaType="String"/>
        <result property="ceoNm" column="CEO_NM" javaType="String"/>
        <result property="addr" column="ADDR" javaType="String"/>
        <result property="coTpCd" column="CO_TP_CD" javaType="String"/>
        <result property="contactUsrId" column="CONTACT_USR_ID" javaType="String"/>
        <result property="cntCd" column="CNT_CD" javaType="String"/>
        <result property="ctyNm" column="CTY_NM" javaType="String"/>
        <result property="endTmNo" column="END_TM_NO" javaType="Float"/>
        <result property="lunHrNo" column="LUN_HR_NO" javaType="Float"/>
        <result property="stLunTmNo" column="ST_LUN_TM_NO" javaType="Float"/>
        <result property="stTmNo" column="ST_TM_NO" javaType="Float"/>
        <result property="wrkHrNo" column="WRK_HR_NO" javaType="Float"/>
        <result property="wrkDyCd" column="WRK_DY_CD" javaType="String"/>
        <result property="utcTmNo" column="UTC_TM_NO" javaType="Float"/>
        <result property="deltFlg" column="DELT_FLG" javaType="String"/>
        <result property="createUser" column="cre_usr_id" />
        <result property="updateUser" column="upd_usr_id" />
        <result property="createDate" column="cre_dt" />
        <result property="updateUser" column="upd_dt" />
    </resultMap>

    <select id="selectAllComCd"  resultMap="AdmComCoMap" parameterType="String">
        select 	/** AdmCo.selectAll */
				CO_CD,
				CO_NM,
				CEO_NM,
				ADDR,
				CO_TP_CD,
				CONTACT_USR_ID,
				CNT_CD,
				CTY_NM,
				END_TM_NO,
				LUN_HR_NO,
				ST_LUN_TM_NO,
				ST_TM_NO,
				WRK_HR_NO,
				WRK_DY_CD,
				UTC_TM_NO,
				DELT_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_CO
        where
        DELT_FLG <![CDATA[<>]]> 'Y'
        <if test="coCd != '' and coCd != null">
            AND CO_CD = #{coCd}
        </if>

		ORDER BY CO_NM
    </select>

    <resultMap id="AdmIpMap" type="AdmIpVo">
        <result property="ipAddr" column="IP_ADDR" javaType="String"/>
        <result property="oldIpAddr" column="IP_ADDR" javaType="String"/>
        <result property="pcNm" column="PC_NM" javaType="String"/>
        <result property="coCd" column="CO_CD" javaType="String"/>
        <result property="createDate" column="CRE_DT" javaType="String"/>
        <result property="createUser" column="CRE_USR_ID" javaType="String"/>
        <result property="updateDate" column="UPD_DT" javaType="String"/>
        <result property="updateUser" column="UPD_USR_ID" javaType="String"/>
    </resultMap>
    <select id="selectAllListIpWithCoCd" resultMap="AdmIpMap" parameterType="map">
        /**sqlMapAdmIp.selectAllIp*/
        SELECT 		IP_ADDR
        ,	PC_NM
        ,	CO_CD
        , 	To_Char(CRE_DT,'MM/DD/YYYY') CRE_DT
        , 	CRE_USR_ID
        , 	To_Char(UPD_DT,'MM/DD/YYYY') UPD_DT
        , 	UPD_USR_ID
        FROM 		ADM_IP
        WHERE	1 = 1
        AND   CO_CD = #{CoCd}
        <if test="pcNm != null and pcNm != ''">
            AND UPPER (PC_NM) like '%'||UPPER (#{pcNm})||'%'
        </if>
        <if test="ipAddr != null and ipAddr != ''">
            AND IP_ADDR like '%'||#{ipAddr}||'%'
        </if>
        ORDER BY IP_ADDR ASC
    </select>

    <resultMap id="AdmUsrMap" type="AdmUsrVO">
        <result property="usrId" column="USR_ID" javaType="String"/>
        <result property="usrNm" column="USR_NM" javaType="String"/>
        <result property="fullNm" column="FULL_NM" javaType="String"/>
        <result property="usrPwd" column="USR_PWD" javaType="String"/>
        <result property="comUsrDt" column="COM_USR_DT" javaType="String"/>
        <result property="comUsrSx" column="COM_USR_SX" javaType="String"/>
        <result property="coTelNo" column="CO_TEL_NO" javaType="String"/>
        <result property="hmTelNo" column="HM_TEL_NO" javaType="String"/>
        <result property="mphnNo" column="MPHN_NO" javaType="String"/>
        <result property="faxNo" column="FAX_NO" javaType="String"/>
        <result property="usrEml" column="USR_EML" javaType="String"/>
        <result property="actFlg" column="ACT_FLG" javaType="String"/>
        <result property="deltStsFlg" column="DELT_STS_FLG" javaType="String"/>
        <result property="imgUrl" column="IMG_URL" javaType="String"/>
        <result property="age" column="AGE" javaType="Integer"/>
        <result property="ntlt" column="NTLT" javaType="String"/>
        <result property="mrrStsCd" column="MRR_STS_CD" javaType="String"/>
        <result property="edu" column="EDU" javaType="String"/>
        <result property="hby" column="HBY" javaType="String"/>
        <result property="wrkExp" column="WRK_EXP" javaType="String"/>
        <result property="hmAddr" column="HM_ADDR" javaType="String"/>
        <result property="spct" column="SPCT" javaType="String"/>
        <result property="engLvl" column="ENG_LVL" javaType="String"/>
        <result property="salyLvl" column="SALY_LVL" javaType="String"/>
        <result property="prjHis" column="PRJ_HIS" javaType="String"/>
        <result property="cntCd" column="CNT_CD" javaType="String"/>
        <result property="ctyNm" column="CTY_NM" javaType="String"/>
        <result property="isRoot" column="IS_ROOT" javaType="String"/>
        <result property="brdyVal" column="BRDY_VAL" javaType="String"/>
        <result property="coCd" column="CO_CD" javaType="String"/>
        <result property="ctrbPntNo" column="CTRB_PNT_NO" javaType="Long"/>
        <result property="perfPntNo" column="PERF_PNT_NO" javaType="Long"/>
        <result property="creUsrId" column="cre_usr_id" />
        <result property="updUsrId" column="upd_usr_id" />
        <result property="creDt" column="cre_dt" />
        <result property="updDt" column="upd_dt" />
        <result property="empeNo" column="EMPE_NO" />
        <result property="empeStDt" column="EMPE_ST_DT" />
        <result property="locCd" column="LOC_CD" javaType="String"/>
        <result property="empeTpCd" column="EMPE_TP_CD" javaType="String"/>
    </resultMap>
    <select id="selectAllListUsrWithCoCd" resultMap="AdmUsrMap" parameterType="String">
        select 	/** AdmUsr.selectAll */
        USR_ID,
        USR_NM,
        FULL_NM,
        CryptIT.decrypt(USR_PWD, 'SPI') AS USR_PWD,
        COM_USR_DT,
        COM_USR_SX,
        CO_TEL_NO,
        HM_TEL_NO,
        MPHN_NO,
        FAX_NO,
        USR_EML,
        ACT_FLG,
        DELT_STS_FLG,
        IMG_URL,
        AGE,
        NTLT,
        MRR_STS_CD,
        EDU,
        HBY,
        WRK_EXP,
        HM_ADDR,
        SPCT,
        ENG_LVL,
        SALY_LVL,
        PRJ_HIS,
        CNT_CD,
        CTY_NM,
        IS_ROOT,
        BRDY_VAL,
        CO_CD,
        CTRB_PNT_NO,
        PERF_PNT_NO,
        cre_usr_id, cre_dt, upd_usr_id, upd_dt,
        EMPE_NO,
        to_char(EMPE_ST_DT,'DD/MM/YYYY') EMPE_ST_DT,
        LOC_CD,
        EMPE_TP_CD,
        MONTHS_BETWEEN(SYSDATE, EMPE_ST_DT) WORK_MONTHS_NUMBER,
        TO_NUMBER(TO_CHAR(EMPE_ST_DT, 'MM')) WORK_START_DAY,
        DVC_TKN_CD,
        SKY_ID
        from	ADM_USR
        where	1 = 1
        and 	CO_CD = #{CoCd}
        and     DELT_STS_FLG = 'N'
    </select>

    <insert id="insert">
/** sqlMapAdmLoc.InsertIp */
	INSERT INTO ADM_IP(
				IP_ADDR,
				CO_CD,
				CRE_DT,
				CRE_USR_ID,
				UPD_DT,
				UPD_USR_ID
            <if test="pcNm != null and pcNm != '' ">
            	,PC_NM
            </if>
				)
		VALUES(
				#{ipAddr},
				#{coCd},
				sysdate,
				#{createUser},
				sysdate,
				#{createUser}
            <if test="pcNm != null and pcNm != '' ">
                 ,#{pcNm}
            </if>
				)
    </insert>

    <update id="update">
	/**sqlMapAdmIp.UpdateIp*/
	UPDATE	ADM_IP
	SET			IP_ADDR 	= #{ipAddr}
        <if test="pcNm != null and pcNm != '' ">
			,	PC_NM 		= #{pcNm}
        </if>
			,	UPD_DT		= sysdate
			,	UPD_USR_ID	= #{updateUser}
	WHERE 	1 = 1
	AND		CO_CD 	= #{coCd}
	AND		IP_ADDR = #{oldIpAddr}
    </update>

    <delete id="delete">
        /**sqlMapAdmIp.DeleteIp*/
        DELETE
        FROM 	ADM_IP
        WHERE 	1 = 1
        AND		CO_CD 	= #{coCd}
        AND		IP_ADDR = #{oldIpAddr}
    </delete>

    <resultMap id="SelectStaffMap" type="InquiryStaffVO">
        <result property="usrId" column="USR_ID" javaType="String"/>
        <result property="usrNm" column="USR_NM" javaType="String"/>
        <result property="hmPhnNo" column="HM_TEL_NO" javaType="String"/>
        <result property="eml" column="USR_EML" javaType="String"/>
        <result property="mphnNo" column="MPHN_NO" javaType="String"/>
        <result property="teamNm" column="TEAM_NM" javaType="String"/>
        <result property="coNm" column="CO_NM" javaType="String"/>
        <result property="coCd" column="CO_CD" javaType="String"/>
    </resultMap>
    <select id="searchStaffPjt_id" resultMap="SelectStaffMap" parameterType="String">
        select /**[SQLID:mcm.InquiryStaff.searchStaffPjt_id]*/
        DISTINCT
        USR.USR_ID,
        USR.USR_NM,
        USR.HM_TEL_NO,
        USR.USR_EML,
        USR.MPHN_NO,
        CO.CO_NM,
        USR.CO_CD,
        (SELECT TEA.TEAM_NM
        FROM ADM_TEAM TEA, ADM_TEAM_USR TUS
        WHERE 1 = 1
        AND TUS.APRO_OWNR_FLG = 'Y'
        AND TEA.TEAM_ID = TUS.TEAM_ID
        AND TUS.USR_ID = USR.USR_ID )TEAM_NM

        FROM
        ADM_USR USR
        , ADM_CO CO
        WHERE 1 = 1
        AND USR.CO_CD = CO.CO_CD
        AND USR.CO_CD = #{CoCd}
        AND USR.ACT_FLG = 'Y'
        ORDER BY USR_NM
    </select>

    <resultMap id="AdmIpMap1" type="AdmIpVO" >
        <result property="ipAddr" column="IP_ADDR" javaType="String"/>
        <result property="createDate" column="CRE_DT" javaType="String"/>
        <result property="createUser" column="CRE_USR_ID" javaType="String"/>
        <result property="updateDate" column="UPD_DT" javaType="String"/>
        <result property="updateUser" column="UPD_USR_ID" javaType="String"/>
    </resultMap>
    <select id="selectByIp" resultMap="AdmIpMap1" parameterType="AdmIpVO">
	    /**sqlMapAdmIp.selectByIp*/
        SELECT 		IP_ADDR
                , 	To_Char(CRE_DT,'DD/MM/YYYY') CRE_DT
                , 	CRE_USR_ID
                , 	To_Char(UPD_DT,'DD/MM/YYYY') UPD_DT
                , 	UPD_USR_ID
        FROM 		ADM_IP
        WHERE	1 = 1
        <if test="coCd != null and coCd != '' ">
            AND   CO_CD = #{coCd}
        </if>
    </select>

    <resultMap id="AdmIpMap2" type="AdmIpVO" >
        <result property="ipAddr" column="IP_ADDR" javaType="String"/>
        <result property="createDate" column="CRE_DT" javaType="String"/>
        <result property="createUser" column="CRE_USR_ID" javaType="String"/>
        <result property="updateDate" column="UPD_DT" javaType="String"/>
        <result property="updateUser" column="UPD_USR_ID" javaType="String"/>
    </resultMap>
    <select id="selectIpByIp" resultMap="AdmIpMap2" parameterType="AdmIpVO">
        /**sqlMapAdmIp.selectIpByIp*/
        SELECT 		IP_ADDR
        , 	To_Char(CRE_DT,'DD/MM/YYYY') CRE_DT
        , 	CRE_USR_ID
        , 	To_Char(UPD_DT,'DD/MM/YYYY') UPD_DT
        , 	UPD_USR_ID
        FROM 		ADM_IP
        WHERE	1 = 1
        <if test="ipAddr != null and ipAddr != '' ">
            AND   IP_ADDR = #{ipAddr}
        </if>
    </select>

    <select id="selectIpByIpToPunch" resultMap="AdmIpMap2" parameterType="AdmIpVO">
        /**sqlMapAdmIp.selectIpByIp*/
        SELECT 		IP_ADDR
--         , 	To_Char(CRE_DT,'DD/MM/YYYY') CRE_DT
--         , 	CRE_USR_ID
--         , 	To_Char(UPD_DT,'DD/MM/YYYY') UPD_DT
--         , 	UPD_USR_ID
        FROM 		ADM_IP
        WHERE	1 = 1
        <if test="ipAddr != null and ipAddr.size() >0 ">
            AND   IP_ADDR in
            <foreach collection="ipAddr" item="item" separator="," close=")" open="(">
                #{item}
            </foreach>
        </if>
    </select>

    <select id ="checkUsrIdInCompany" parameterType="AdmIpVO" resultType="Integer">
        SELECT Count(1) FROM ADM_USR where USR_ID = #{ipAddr} and CO_CD = #{coCd}
    </select>
</mapper>
