<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.MenuMapper">

    <resultMap type="AdmBtnAuthVO" id="BtnAuthVOMap">
        <result property="btnNo" column="BTN_NO" javaType="String"/>
        <result property="btnNm" column="BTN_NM" javaType="String"/>
        <result property="createUser" column="cre_usr_id"/>
        <result property="updateUser" column="upd_usr_id"/>
        <result property="createDate" column="cre_dt"/>
        <result property="updateDate" column="upd_dt"/>
    </resultMap>

    <select id="searchButtonForMenu" parameterType="hashMap" resultMap="BtnAuthVOMap">
		select /** mcm.MenuProgramManagement.searchButtonForMenu */
			MNU_BTN.BTN_NO,
			BTN.BTN_NM,
			MNU_BTN.CRE_USR_ID,
			MNU_BTN.UPD_USR_ID,
			MNU_BTN.CRE_DT,
			MNU_BTN.UPD_DT
		from
			ADM_MNU_PGM_BTN MNU_BTN,
			ADM_BTN_AUTH BTN
		where
			MNU_BTN.MNU_PGM_ID = #{mnuPgmId}
			AND BTN.BTN_NO = MNU_BTN.BTN_NO

	</select>

    <resultMap type="AdmMnuPgmVO" id="DataForMenu">
        <result property="mnuPgmId" column="mnuPgmId" javaType="String"/>
        <result property="prntId" column="prntId" javaType="String"/>
        <result property="mnuPgmNm" column="mnuPgmNm" javaType="String"/>
        <result property="mnuPgmOrdNo" column="mnuPgmOrdNo" javaType="Integer"/>
        <result property="mnuPgmUrl" column="mnuPgmUrl" javaType="String"/>
        <result property="mnuPgmRmk" column="mnuPgmRmk" javaType="String"/>
        <result property="popupFlg" column="popupFlg" javaType="String"/>
        <result property="mnuType" column="mnuType" javaType="String"/>
        <result property="mnuFlag" column="mnuFlag" javaType="String"/>
        <result property="mnuUsd" column="mnuUsd" javaType="String"/>
        <result property="createUser" column="createUser" javaType="String"/>
        <result property="updateUser" column="updateUser" javaType="String"/>
        <result property="level" column="level" javaType="Integer"/>
    </resultMap>

    <select id="searchDataForMenu" resultMap="DataForMenu">
		/** mcm.MenuProgramManagement.selectDataForMenu */
		SELECT PRNT_MNU_ID AS "prntId",
		  MNU_PGM_ID       AS "mnuPgmId",
		  MNU_PGM_NM       AS "mnuPgmNm",
		  MNU_PGM_URL_HTML      AS "mnuPgmUrl",
		  MNU_PGM_RMK      AS "mnuPgmRmk",
		  MNU_PGM_ORD_NO   AS "mnuPgmOrdNo",
          UPPER(MNU_TP_CD)   AS "mnuType",
		  UPPER(MNU_FLG)   AS "mnuFlag",
		  UPPER(MNU_USD)   AS "mnuUsd",
		  POPUP_FLG        AS "popupFlg",
		  cre_usr_id       AS "createUser",
		  upd_usr_id       AS "updateUser",
		  LEVEL            AS "level"
		FROM ADM_MNU_PGM
		WHERE DELT_STS_FLG            = 'N'
		AND POPUP_FLG                 ='N'
        AND   pjt_id = #{pjtId}
		  START WITH PRNT_MNU_ID      = '0'
		  CONNECT BY PRIOR MNU_PGM_ID = PRNT_MNU_ID
		ORDER SIBLINGS BY MNU_PGM_ORD_NO,
		  UPPER(MNU_PGM_NM)
	</select>

    <resultMap type="PIADM_006VO" id="dataForPopup">
        <result property="mnuPgmId" column="MNU_PGM_ID" javaType="String"/>
        <result property="prntId" column="PRNT_MNU_ID" javaType="String"/>
        <result property="mnuPgmNm" column="MNU_PGM_NM" javaType="String"/>
        <result property="mnuPgmOrdNo" column="MNU_PGM_ORD_NO" javaType="Integer"/>
        <result property="mnuPgmUrl" column="MNU_PGM_URL_HTML" javaType="String"/>
        <result property="mnuPgmRmk" column="MNU_PGM_RMK" javaType="String"/>
        <result property="popupFlg" column="POPUP_FLG" javaType="String"/>
        <result property="mnuType" column="MNU_TP_CD" javaType="String"/>
        <result property="mnuFlag" column="MNU_FLG" javaType="String"/>
        <result property="mnuUsd" column="MNU_USD" javaType="String"/>
        <result property="deltStsFlg" column="DELT_STS_FLG" javaType="String"/>
        <result property="createUser" column="cre_usr_id"/>
        <result property="updateUser" column="upd_usr_id"/>
    </resultMap>

    <select id="searchDataForPopup" resultMap="dataForPopup" parameterType="hashMap">
        select 	/** mcm.MenuProgramManagement.searchDataForPopup */
        MNU_PGM_ID,
        PRNT_MNU_ID,
        MNU_PGM_NM,
        MNU_PGM_ORD_NO,
        MNU_PGM_URL_HTML,
        MNU_PGM_RMK,
        POPUP_FLG,
        MNU_TP_CD
        MNU_FLG,
        MNU_USD,
        DELT_STS_FLG,
        cre_usr_id, cre_dt, upd_usr_id, upd_dt
        from	ADM_MNU_PGM
        where	1 = 1
        and POPUP_FLG ='Y'
        <if test="name != null and name != ''">
            and upper(MNU_PGM_NM) LIKE '%' || upper(#{name}) ||'%'
        </if>
        and DELT_STS_FLG  ='N'
        order by MNU_PGM_NM ASC
    </select>

    <resultMap type="AdmMnuPgmVO" id="AdmMnuPgmMap">
        <result property="mnuPgmId" column="MNU_PGM_ID" javaType="String"/>
        <result property="prntId" column="PRNT_MNU_ID" javaType="String"/>
        <result property="mnuPgmNm" column="MNU_PGM_NM" javaType="String"/>
        <result property="mnuPgmOrdNo" column="MNU_PGM_ORD_NO" javaType="Integer"/>
        <result property="mnuPgmUrl" column="MNU_PGM_URL_HTML" javaType="String"/>
        <result property="mnuPgmRmk" column="MNU_PGM_RMK" javaType="String"/>
        <result property="popupFlg" column="POPUP_FLG" javaType="String"/>
        <result property="mnuType" column="MNU_TP_CD" javaType="String"/>
        <result property="mnuFlag" column="MNU_FLG" javaType="String"/>
        <result property="createUser" column="cre_usr_id" />
        <result property="updateUser" column="upd_usr_id" />
        <result property="pjtId" column="PJT_ID" />
    </resultMap>

    <select id="selectChildMenu" parameterType="hashMap" resultMap="AdmMnuPgmMap">
        SELECT /** mcm.MenuProgramManagement.selectChildMenu */
        MNU_PGM_ID,
        PRNT_MNU_ID,
        MNU_PGM_NM,
        MNU_PGM_ORD_NO,
        MNU_PGM_URL_HTML,
        MNU_PGM_RMK,
        POPUP_FLG,
        MNU_TP_CD
        MNU_FLG,
        CRE_USR_ID,
        UPD_USR_ID,
        CRE_DT,
        PJT_ID,
        UPD_DT
        FROM
        ADM_MNU_PGM
        WHERE
        <!-- 	    	MNU_USD = 'Y' -->
        <!-- 	    	and  -->
        DELT_STS_FLG ='N'
        start with MNU_PGM_ID = #{mnuPgmId}
        connect by prior MNU_PGM_ID = PRNT_MNU_ID
        order SIBLINGS by MNU_PGM_ORD_NO, MNU_PGM_NM ASC
    </select>

    <delete id="deleteButtonMenu" parameterType="hashMap">
		delete from ADM_MNU_PGM_BTN
		where MNU_PGM_ID = #{mnuPgmId}
	</delete>

    <resultMap type="BtnAuthVO" id="BtnAuthMap">
        <result property="btnNo" column="BTN_NO" javaType="String"/>
        <result property="btnNm" column="BTN_NM" javaType="String"/>
        <result property="createUser" column="cre_usr_id" />
        <result property="updateUser" column="upd_usr_id" />
        <result property="createDate" column="cre_dt" />
        <result property="updateDate" column="upd_dt" />
    </resultMap>

    <select id="selectBtnAuth" resultMap="BtnAuthMap">
		select 	/** cas.UserAuthorityManagement.selectUserAuthorityManagement */
				BTN_NO,
				BTN_NM,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_BTN_AUTH
		order by LPAD(BTN_NO, 2)
	</select>

    <select id="selectAllMenuIdBelongToSelectedMenu" parameterType="hashMap" resultType="String">
		select  /** mcm.MenuProgramManagement.selectAllMenuIdBelongToSelectedMenu */
				distinct (MNU_PGM_ID)
		from 	ADM_MNU_PGM
		where	1 = 1
		start with upper(MNU_PGM_ID) = upper (#{mnuPgmId})
		connect by prior MNU_PGM_ID = PRNT_MNU_ID
	</select>

    <select id="selectAllAncestorMenuIdOfSelectedMenu" parameterType="hashMap" resultType="String">
		select  /** mcm.MenuProgramManagement.selectAllAncestorMenuIdOfSelectedMenu */
				distinct (MNU_PGM_ID)
		from 	ADM_MNU_PGM
		where	1 = 1
		start with upper(MNU_PGM_ID) = upper (#{mnuPgmId})
		connect by prior PRNT_MNU_ID = MNU_PGM_ID
	</select>

    <resultMap type="com.dou.adm.models.NtfcSetUsrVO" id="NtfcSetMap">
        <result property="usrId" column="USR_ID" javaType="String"/>
        <result property="menuId" column="MNU_PGM_ID" javaType="String"/>
        <result property="menuId" column="MNU_PGM_ID" javaType="String"/>
        <result property="createUser" column="cre_usr_id" />
        <result property="updateUser" column="upd_usr_id" />
        <result property="createDate" column="cre_dt" />
        <result property="updateDate" column="upd_dt" />
    </resultMap>
    
    <select id="selectConfigMailUsr" parameterType="String" resultMap="NtfcSetMap">
		SELECT  /** mcm.MenuProgramManagement.selectConfigMailUsr*/
		USR_ID,
		MNU_PGM_ID,
		EML_FLG,
		CRE_DT,
		CRE_USR_ID,
		UPD_DT,
		UPD_USR_ID
		FROM 	ADM_NTFC_SET
		WHERE 	1 = 1
		AND USR_ID = #{usrId}
	</select>

    <select id="selectConfigMailUiUsr" parameterType="hashMap" resultMap="NtfcSetMap">
		SELECT  /** mcm.MenuProgramManagement.selectConfigMailUiUsr*/
		USR_ID,
		MNU_PGM_ID,
		EML_FLG,
		CRE_DT,
		CRE_USR_ID,
		UPD_DT,
		UPD_USR_ID
		FROM 	ADM_NTFC_SET
		WHERE 	1 = 1
		AND USR_ID = #{usrId}
		AND MNU_PGM_ID = #{menuId}
	</select>

    <insert id="insertConfigMail" parameterType="com.dou.adm.models.NtfcSetUsrVO">
        insert  /** mcm.MenuProgramManagement.insertConfigMail*/
        into ADM_NTFC_SET(
            USR_ID,
		    MNU_PGM_ID,
		    EML_FLG,
            CRE_USR_ID, CRE_DT, UPD_USR_ID, UPD_DT
        )
        values(
                  #{usrId},
                  #{menuId},
                  #{emlFlg},
                  #{createUser}, sysdate, #{updateUser}, sysdate
              )
    </insert>

    <update id="updateConfigMail" parameterType="com.dou.adm.models.NtfcSetUsrVO">
        UPDATE /** mcm.MenuProgramManagement.updateConfigMail*/
        ADM_NTFC_SET
        SET
        USR_ID = #{usrId},
        MNU_PGM_ID = #{menuId},
        EML_FLG = #{emlFlg},
        CRE_USR_ID = #{createUser},
        CRE_DT = sysdate,
        UPD_USR_ID = #{updateUser},
        UPD_DT = sysdate
        WHERE
        USR_ID = #{usrId}
        AND MNU_PGM_ID = #{menuId}
    </update>
</mapper>