<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.PartnerManagementMapper">
    <resultMap type="PIADM_001VO" id="PIADM_001VOMap">
        <result property="coCd" column="CO_CD" javaType="String"/>
        <result property="coNm" column="CO_NM" javaType="String"/>
        <result property="ceoNm" column="CEO_NM" javaType="String"/>
        <result property="addr" column="ADDR" javaType="String"/>
        <result property="coTpCd" column="CO_TP_CD" javaType="String"/>
        <result property="coTpNm" column="CO_TP_NM"/>
        <result property="contactUsrId" column="CONTACT_USR_ID"/>
        <result property="contactPersonNm" column="CONTACT_PERSON_NM"/>
        <result property="contactPersonEmail" column="USR_EML" javaType="String"/>
        <result property="mnPhnNo" column="MPHN_NO" javaType="String"/>
        <result property="cntCd" column="CNT_CD"/>
        <result property="ctyNm" column="CTY_NM"/>
        <result property="createDate" column="cre_dt" />
        <result property="updateDate" column="upd_dt" />
        <result property="createUserNm" column="cre_usr_nm" />
        <result property="updateUserNm" column="upd_usr_nm" />
        <result property="createUser" column="cre_usr_id" />
        <result property="updateUser" column="upd_usr_id" />
    </resultMap>

    <insert id="insertTatPst" parameterType="com.dou.pim.models.PimPstVO">
        insert /** PimPst.insert */
        into PIM_PST(
        TPC_ID,
        PST_ID,
        DELT_FLG,
        USR_ID,
        READ_FLG,
        PST_TP_CD,
        PST_TIT_NM,
        <if test="pstCtnt != null and pstCtnt != ''">
            PST_CTNT,
        </if>
        <if test="fmDt != null and fmDt != ''">
            OBJ_PARA_CTNT,
        </if>
        <if test="prntPstId != null and prntPstId != ''">
            PRNT_PST_ID,
        </if>
        cre_usr_id, cre_dt, upd_usr_id, upd_dt
        )
        values(
        #{tpcId},
        #{pstId},
        #{deltFlg},
        #{usrId},
        #{readFlg},
        #{pstTpCd},
        #{pstTitNm},
        <if test="pstCtnt != null and pstCtnt != ''">
            #{pstCtnt},
        </if>
        <if test="fmDt != null and fmDt != ''">
            TO_CHAR(TO_DATE(#{fmDt}, 'MMddyyyy'), 'MM/dd/yyyy'),
        </if>

        <if test="prntPstId != null and prntPstId != ''">
            #{prntPstId},
        </if>
        #{createUser}, sysdate, #{updateUser}, sysdate
        )
    </insert>

    <insert id="insertPstRcpnt" parameterType="AdmNtfcRcpntVO">
        insert /** AdmNtfcRcpnt.insert */
        into ADM_NTFC_RCPNT(PST_ID,
                            USR_ID,
                            READ_FLG,
                            cre_usr_id, cre_dt, upd_usr_id, upd_dt)
        values (#{pstId},
                #{usrId},
                #{readFlg},
                #{createUser}, sysdate, #{updateUser}, sysdate)
    </insert>

    <select id="selectPartner" resultMap="PIADM_001VOMap" parameterType="hashMap">
        select 	/** PartnerManagement.selectPartner */
        co.CO_CD,
        co.CO_NM,
        co.CEO_NM,
        co.ADDR,
        co.CO_TP_CD,
        co.CONTACT_USR_ID,
        usr.USR_NM as CONTACT_PERSON_NM,
        usr.USR_EML,
        usr.MPHN_NO,
        co.CNT_CD,
        co.CTY_NM,
        to_char(co.cre_dt,'yyyy-mm-dd') cre_dt,
        to_char(co.upd_dt,'yyyy-mm-dd') upd_dt,
        (select CD_NM from ADM_COM_CD where CONCAT(PRNT_CD, COM_CD) = #{coTpCd}) as CD_NM,
        (select USR_NM from ADM_USR where ADM_USR.USR_ID = co.CRE_USR_ID) as cre_usr_nm,
        (select USR_NM from ADM_USR where ADM_USR.USR_ID = co.UPD_USR_ID) as upd_usr_nm,
        co.cre_usr_id,co.upd_usr_id
        from	ADM_CO co, ADM_USR usr
        where	1 = 1
        and co.CONTACT_USR_ID = usr.USR_ID(+)
        <choose>
            <when test="deltFlg">
                and co.DELT_FLG = 'Y'
            </when>
            <otherwise>
                and co.DELT_FLG = 'N'
            </otherwise>
        </choose>
        <if test="coTpCd != null and coTpCd != '' ">
            and upper(co.CO_TP_CD) = #{coTpCd}
        </if>
        <if test="coNm != null and coNm != '' ">
            and		upper(co.CO_NM) like '%' || upper(#{coNm})  || '%'
        </if>
        <choose>
            <when test="isMaster == false">
                <!-- 	    	AND co.CO_CD IN (select DISTINCT PJT.CO_CD from ADM_PJT PJT -->
                <!-- 							where 1=1 -->
                <!-- 							AND PJT.CO_CD IS NOT NULL -->
                <!-- 							AND PJT.DM_USE_FLG ='Y' -->
                <!-- 							AND (PJT.CRE_USR_ID = #usrId# OR PJT.MGR_ID = #usrId#)) -->
                AND	co.CRE_BY_CO_CD = #{creByCoCd}
            </when>
        </choose>

        <if test="coCd != null and coCd != '' ">
            AND	co.CO_CD = #{coCd}
        </if>
        <!-- 	    <isNotEmpty property="prnrUIFlg"> -->
        <!-- 	    	AND	co.CO_CD != #creByCoCd# -->
        <!-- 	    </isNotEmpty> -->
        order by co.cre_dt DESC
    </select>

    <select id="selectTypeNm" resultType="String">
		select /** pja.PartnerManagement.selectTypeNm*/
			CD_NM
       from ADM_COM_CD
       where CONCAT(PRNT_CD, COM_CD) = #{coTpCd}
	</select>

    <resultMap type="TradePartnerVO" id="TradePartnerVOMap">
        <result property="trdPrnrId" 	column="TRD_PRNR_ID" 	javaType="String"/>
        <result property="coCd" 		column="CO_CD" 			javaType="String"/>
        <result property="coNm" 		column="CO_NM" 			javaType="String"/>
        <result property="ctrtCoTpCd"	column="CTRT_CO_TP_CD" 	javaType="String"/>
    </resultMap>

    <select id="selectPartnerCustomer" parameterType="HashMap" resultMap="TradePartnerVOMap">
        /** PartnerManagement.selectPartnerCustomer */
        SELECT	trd.TRD_PRNR_ID,
        trd.TRD_PRNR_CD CO_CD,
        (SELECT CO_NM FROM ADM_CO WHERE CO_CD = trd.TRD_PRNR_CD AND ROWNUM = 1) CO_NM,
        trd.CTRT_CO_TP_CD
        FROM	ADM_TRD_PRNR trd
        WHERE	1 = 1
        <if test="coCd != null and coCd != '' ">
            AND		trd.CO_CD = #{coCd}
        </if>
    </select>

    <insert id="insertPartnerCustomer" parameterType="HashMap">
		/** PartnerManagement.insertPartnerCustomer */
		INSERT INTO	ADM_TRD_PRNR
			(	TRD_PRNR_ID,
				CO_CD,
				TRD_PRNR_CD,
				CTRT_CO_TP_CD,
				CRE_USR_ID,
				CRE_DT,
				UPD_USR_ID,
				UPD_DT
			)
		VALUES
			(	#{trdPrnrId},
				#{coCd},
				#{trdPrnrCd},
				#{ctrtCoTpCd},
				#{usrId},
				sysdate,
				#{usrId},
				sysdate
			)
	</insert>

    <delete id="deletePartnerCustomer" parameterType="HashMap">
		/** PartnerManagement.deletePartnerCustomer */
		DELETE 	ADM_TRD_PRNR
		WHERE	CO_CD = #{coCd}
		AND		TRD_PRNR_CD = #{trdPrnrCd}
		AND		CTRT_CO_TP_CD = #{ctrtCoTpCd}
	</delete>

    <select id="checkUsedCustomer" parameterType="HashMap" resultType="String">
		/** PartnerManagement.checkUsedCustomer */
		SELECT DECODE(  (SELECT COUNT(*)
						 FROM SLS_CTRT CTRT,
						  SLS_CTRT_CO CTRTCO,
						  (SELECT *
						  FROM
						    (SELECT CO.CTRT_ID
						    FROM SLS_CTRT_CO CO,
						      SLS_CTRT CT
						    WHERE 1         = 1
						    AND CT.CTRT_ID  = CO.CTRT_ID
						    AND CT.DELT_FLG = 'N'
						    AND CTRT_CO_TP_CD = #{ctrtCoTpCd}
						    AND CO.CO_CD= #{trdPrnrCd}
						    GROUP BY CO.CTRT_ID, CO.CO_CD, CTRT_CO_TP_CD
						    )
						  WHERE 1     = 1
						  ) TMP
						 WHERE 1           = 1
						 AND CTRT.CTRT_ID  = CTRTCO.CTRT_ID
						 AND CTRT.DELT_FLG = 'N'
						 AND CTRTCO.CO_CD  = #{coCd}
						 AND CTRT.CTRT_ID  = TMP.CTRT_ID
						)
					, 0, 'N', 'Y'
				)
		FROM DUAL
	</select>
</mapper>