<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.PhasePropertyMapper">
    <resultMap type="AdmComCdVO" id="AdmComCdVOMap">
        <result property="comCd" column="COM_CD" javaType="String"/>
        <result property="prntCd" column="PRNT_CD" javaType="String"/>
        <result property="cdNm" column="CD_NM" javaType="String"/>
        <result property="cdShrtNm" column="CD_SHRT_NM" javaType="String"/>
        <result property="imgUrl" column="IMG_URL" javaType="String"/>
    </resultMap>
    <select id="selectComCdByPrntCd" resultMap="AdmComCdVOMap">
		select /** mcm.CommonCode.selectComCdByPrntCd */
			concat(ADM_COM_CD.PRNT_CD, ADM_COM_CD.COM_CD) as COM_CD,
		       ADM_COM_CD.PRNT_CD,
		       ADM_COM_CD.CD_NM,
		       ADM_COM_CD.CD_SHRT_NM,
		       ADM_COM_CD.IMG_URL
		from   ADM_COM_CD
		where  PRNT_CD = #{prntCd}
		 and (USE_FLG IS NULL OR UPPER(USE_FLG) = 'Y')
		 and (DELT_STS_FLG IS NULL OR UPPER(DELT_STS_FLG) != 'Y')
		order by ADM_COM_CD.ORD_BY_NO ASC
	</select>

	<resultMap type="PhasePropertyVO" id="PimPhsPptMap">
		<result property="coCd" column="CO_CD" javaType="String"/>
		<result property="phsCd" column="PHS_CD" javaType="String"/>
		<result property="phsNm" column="PHS_NM" javaType="String"/>
		<result property="iconCd" column="ICON_CD" javaType="String"/>
		<result property="pairPhsCd" column="PAIR_PHS_CD" javaType="String"/>
		<result property="asgnRsrcTpCd" column="ASGN_RSRC_TP_CD" javaType="String"/>
		<result property="wrkHrNo" column="WRK_HR_NO" javaType="Float"/>
		<result property="stPhsFlg" column="ST_PHS_FLG" javaType="String"/>
		<result property="endPhsFlg" column="END_PHS_FLG" javaType="String"/>
		<result property="ordNo" column="ORD_NO" javaType="Integer"/>
		<result property="deltFlg" column="DELT_FLG" javaType="String"/>
	</resultMap>
	<select id="selectPairPhaseCodeList" resultMap="PimPhsPptMap">
		select 	/** pim.PhaseProperty.selectPairPhaseCodeList */
		CO_CD,
		PHS_CD,
		PHS_NM,
		ICON_CD,
		PAIR_PHS_CD,
		ASGN_RSRC_TP_CD,
		WRK_HR_NO,
		ST_PHS_FLG,
		END_PHS_FLG,
		ORD_NO,
		DELT_FLG
		from	PIM_PHS_PPT
		where	1 = 1
		and		DELT_FLG != 'Y'
		<if test="phsCd != null and phsCd != ''">
			and		PHS_CD != #{phsCd}
		</if>
		<if test="coCd =null and coCd != ''">
			and		CO_CD != #{coCd}
		</if>
		and 	ST_PHS_FLG != 'Y'
		order by ORD_NO
	</select>

	<resultMap type="PimIconVO" id="PimIconMap">
		<result property="iconCd" column="ICON_CD" javaType="String"/>
		<result property="iconNm" column="ICON_NM" javaType="String"/>
	</resultMap>
	<select id="searchListIcon" resultMap="PimIconMap">
		select 	/** pim.PhaseProperty.searchListIcon */
		ICON_CD,
		ICON_NM
		from PIM_PHS_ICON
	</select>

	<resultMap type="AdmCoVO" id="AdmCoMap">
		<result property="coCd" column="CO_CD" javaType="String"/>
		<result property="coNm" column="CO_NM" javaType="String"/>
	</resultMap>
	<select id="searchAdmCoForCombobox" resultMap="AdmCoMap">
		select 	/** sqlMapTeamManagement.selectCompanyMapWithProjectUser */
		COM.CO_CD,
		COM.CO_NM
		FROM	ADM_CO COM,
		(
		<if test="coCd != null and coCd != ''">
			SELECT DISTINCT PJT.CO_CD FROM ADM_PJT PJT
			WHERE 1=1
			AND PJT.CO_CD = #{coCd}
		</if>
		<if test="coCd == null or coCd == ''">
			SELECT DISTINCT PJT.CO_CD
			FROM ADM_PJT PJT,
			ADM_PJT_USR USR
			WHERE 1=1
			AND PJT.CO_CD IS NOT NULL
			AND PJT.USE_FLG ='Y'
			AND USR.USR_ID = #{usrId}
			AND USR.PJT_ID = PJT.PJT_ID
		</if>
		)PJT
		WHERE	1 = 1
		AND		COM.CO_CD = PJT.CO_CD
		ORDER BY COM.CO_NM
	</select>

	<resultMap type="AdmCoVO" id="AdmCoMapAll">
		<result property="coCd" column="CO_CD" javaType="String"/>
		<result property="coNm" column="CO_NM" javaType="String"/>
		<result property="ceoNm" column="CEO_NM" javaType="String"/>
		<result property="addr" column="ADDR" javaType="String"/>
		<result property="coTpCd" column="CO_TP_CD" javaType="String"/>
		<result property="contactUsrId" column="CONTACT_USR_ID" javaType="String"/>
		<result property="cntCd" column="CNT_CD" javaType="String"/>
		<result property="ctyNm" column="CTY_NM" javaType="String"/>
		<result property="endTmNo" column="END_TM_NO" javaType="Float"/>
		<result property="lunHrNo" column="LUN_HR_NO" javaType="Float"/>
		<result property="stLunTmNo" column="ST_LUN_TM_NO" javaType="Float"/>
		<result property="stTmNo" column="ST_TM_NO" javaType="Float"/>
		<result property="wrkHrNo" column="WRK_HR_NO" javaType="Float"/>
		<result property="wrkDyCd" column="WRK_DY_CD" javaType="String"/>
		<result property="utcTmNo" column="UTC_TM_NO" javaType="Float"/>
		<result property="deltFlg" column="DELT_FLG" javaType="String"/>
		<result property="createUser" column="cre_usr_id" />
		<result property="updateUser" column="upd_usr_id" />
		<result property="createDate" column="cre_dt" />
		<result property="updateDate" column="upd_dt" />
	</resultMap>
	<select id="selectAllCompany" resultMap="AdmCoMapAll">
		select 	/** AdmCo.selectAll */
				CO_CD,
				CO_NM,
				CEO_NM,
				ADDR,
				CO_TP_CD,
				CONTACT_USR_ID,
				CNT_CD,
				CTY_NM,
				END_TM_NO,
				LUN_HR_NO,
				ST_LUN_TM_NO,
				ST_TM_NO,
				WRK_HR_NO,
				WRK_DY_CD,
				UTC_TM_NO,
				DELT_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
		from	ADM_CO
		where DELT_FLG <![CDATA[<>]]> 'Y'
		ORDER BY CO_NM
	</select>

	<resultMap type="PhasePropertyVO" id="PhasePropertyMap">
		<result property="coCd" column="CO_CD" javaType="String"/>
		<result property="phsCd" column="PHS_CD" javaType="String"/>
		<result property="phsNm" column="PHS_NM" javaType="String"/>
		<result property="iconCd" column="ICON_CD" javaType="String"/>
		<result property="pairPhsCd" column="PAIR_PHS_CD" javaType="String"/>
		<result property="asgnRsrcTpCd" column="ASGN_RSRC_TP_CD" javaType="String"/>
		<result property="asgnRsrcNm" column="ASGN_RSRC_NM" javaType="String"/>
		<result property="wrkHrNo" column="WRK_HR_NO" javaType="Float"/>
		<result property="stPhsFlg" column="ST_PHS_FLG" javaType="String"/>
		<result property="endPhsFlg" column="END_PHS_FLG" javaType="String"/>
		<result property="ordNo" column="ORD_NO" javaType="Integer"/>
		<result property="deltFlg" column="DELT_FLG" javaType="String"/>
	</resultMap>
	<select id="searchPhaseCodeList" resultMap="PhasePropertyMap">
		select 	/** pim.PhaseProperty.searchPhaseCodeList */
		CO_CD,
		PHS_CD,
		PHS_NM,
		ICON_CD,
		PAIR_PHS_CD,
		ASGN_RSRC_TP_CD,
		(
		SELECT CD_NM
		FROM ADM_COM_CD
		WHERE PRNT_CD = SUBSTR(ASGN_RSRC_TP_CD,1,10)
		AND COM_CD    = SUBSTR(ASGN_RSRC_TP_CD,11,3)
		) ASGN_RSRC_NM,
		WRK_HR_NO,
		ST_PHS_FLG,
		END_PHS_FLG,
		ORD_NO,
		DELT_FLG
		from	PIM_PHS_PPT PHS_PPT
		where 	1=1
		<if test="coCd != null and coCd != ''">
			and CO_CD = #{coCd}
		</if>
		<if test="delFlg != null and delFlg != ''">
			and DELT_FLG = #{delFlg}
		</if>
		order by ORD_NO
	</select>

	<select id="selectPhasePropertyInfoByPhaseName" resultMap="PhasePropertyMap">
		select 	/** pim.PhaseProperty.selectPhasePropertyInfoByPhaseName */
		PHS_CD,
		PHS_NM,
		PAIR_PHS_CD,
		ASGN_RSRC_TP_CD,
		WRK_HR_NO,
		ST_PHS_FLG,
		END_PHS_FLG,
		ORD_NO,
		DELT_FLG
		from	PIM_PHS_PPT PHS_PPT
		where 	1=1
		<if test="phsNm != '' and phsNm != null">
			and		PHS_NM = #{phsNm}
			<if test="phsCd != '' and phsCd != null">
				and		PHS_CD != #{phsCd}
			</if>
			<if test="coCd != '' and coCd != null">
				and		CO_CD = #{coCd}
			</if>
			<if test="deltFlg != '' and deltFlg != null">
				and	DELT_FLG != #{deltFlg}
			</if>
		</if>
		<if test="phsNm == '' or phsNm == null">
			and		PHS_CD = #{phsCd}
			<if test="coCd != '' and coCd != null">
				and		CO_CD = #{coCd}
			</if>
		</if>
	</select>

	<insert id="insertPhasePropertyInfo">
		insert  /** PimPhsPpt.insert */
		into PIM_PHS_PPT(
				CO_CD,
				PHS_CD,
				PHS_NM,
				ICON_CD,
				PAIR_PHS_CD,
				ASGN_RSRC_TP_CD,
				WRK_HR_NO,
				ST_PHS_FLG,
				END_PHS_FLG,
				ORD_NO,
				DELT_FLG,
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				)
		values(
				#{coCd},
				#{phsCd},
				#{phsNm},
				#{iconCd},
				<if test="pairPhsCd != null and pairPhsCd != ''">
					#{pairPhsCd},
				</if>
				<if test="pairPhsCd == null or pairPhsCd == ''">
					NULL,
				</if>
				#{asgnRsrcTpCd},
				#{wrkHrNo},
				<if test="stPhsFlg != null and stPhsFlg != ''">
					#{stPhsFlg},
				</if>
				<if test="stPhsFlg == null or stPhsFlg == ''">
					NULL,
				</if>
				<if test="endPhsFlg != null and endPhsFlg != ''">
					#{endPhsFlg},
				</if>
				<if test="endPhsFlg == null or endPhsFlg == ''">
					NULL,
				</if>
				#{ordNo},
				#{deltFlg},
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>

	<update id="updatePhasePropertyInfo">
		update  /** pim.PhaseProperty.updatePhasePropertyInfo */
		PIM_PHS_PPT set
				PHS_NM = #{phsNm},
				<if test="pairPhsCd != null and pairPhsCd != ''">
					PAIR_PHS_CD = #{pairPhsCd},
				</if>
				ASGN_RSRC_TP_CD = #{asgnRsrcTpCd},
				<if test="stPhsFlg != null and stPhsFlg != ''">
					ST_PHS_FLG = #{stPhsFlg},
				</if>
				<if test="deltFlg != null and deltFlg != ''">
					DELT_FLG = #{deltFlg},
				</if>
				<if test="endPhsFlg != null and endPhsFlg != ''">
					END_PHS_FLG = #{endPhsFlg},
				</if>
				WRK_HR_NO = #{wrkHrNo},
				ICON_CD = #{iconCd},
				upd_usr_id = #{updateUser},
				upd_dt = sysdate
		where	1 = 1
		and		PHS_CD = #{phsCd}
		and		CO_CD = #{coCd}
	</update>

	<update id="deletePhaseCode">
		update  /** pim.PhaseProperty.deletePhaseCodeInfo */
		PIM_PHS_PPT set
				DELT_FLG = #{deltFlg},
				upd_usr_id = #{updateUser},
				upd_dt = sysdate
		where	1 = 1
		and		PHS_CD = #{phsCd}
		and		CO_CD = #{coCd}
	</update>
</mapper>
