<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.PimPhsPptMapper">
    <insert id="insert" parameterType="PimPhsPptVO">
		insert  /** PimPhsPpt.insert */ 
		into PIM_PHS_PPT( 
				CO_CD,
				PHS_CD,
				PHS_NM,
				<if test=" pairPhsCd != null and pairPhsCd !=''">
                    PAIR_PHS_CD,
                </if>
                <if test=" asgnRsrcTpCd != null and asgnRsrcTpCd !=''">
                    ASGN_RSRC_TP_CD,
                </if>
                <if test=" wrkHrNo != null and wrkHrNo !=''">
                    WRK_HR_NO,
                </if>
                <if test=" stPhsFlg != null and stPhsFlg !=''">
                    ST_PHS_FLG,
                </if>
                <if test=" endPhsFlg != null and endPhsFlg !=''">
                    END_PHS_FLG,
                </if>
                <if test=" ordNo != null and ordNo !=''">
                    ORD_NO,
                </if>
                <if test=" deltFlg != null and deltFlg !=''">
                    DELT_FLG,
                </if>
				cre_usr_id, cre_dt, upd_usr_id, upd_dt
				) 
		values(	
				#{coCd},
				#{phsCd},
				#{phsNm},
                <if test=" pairPhsCd != null and pairPhsCd !=''">
                        #{pairPhsCd},
                </if>
                <if test=" asgnRsrcTpCd != null and asgnRsrcTpCd !=''">
                    #{asgnRsrcTpCd},
                </if>
                <if test=" wrkHrNo != null and wrkHrNo !=''">
                    #{wrkHrNo},
                </if>
                <if test=" stPhsFlg != null and stPhsFlg !=''">
                    #{stPhsFlg},
                </if>
                <if test=" endPhsFlg != null and endPhsFlg !=''">
                    #{endPhsFlg},
                </if>
                <if test=" ordNo != null and ordNo !=''">
                    #{ordNo},
                </if>
                <if test=" deltFlg != null and deltFlg !=''">
                    #{deltFlg},
                </if>
				#{createUser}, sysdate, #{updateUser}, sysdate
				)
	</insert>
</mapper>