<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.SettingsManagementMapper">

    <resultMap type="AdmMnuPgmVO" id="AdmMnuPgm">
        <result property="mnuPgmId" column="MNU_PGM_ID"/>
        <result property="prntId" column="PRNT_MNU_ID"/>
        <result property="mnuPgmNm" column="MNU_PGM_NM"/>
        <result property="mnuIco" column="MNU_ICON"/>
    </resultMap>

    <resultMap type="AdmNtfcTpVO" id="AdmNtfcTpVOMap">
        <result property="ntfcId" column="NTFC_ID"/>
        <result property="comCd" column="COM_CD"/>
        <result property="ntfcTpCd" column="NTFC_TP_CD"/>
        <result property="ntfcDesc" column="NTFC_DESC"/>
    </resultMap>

    <resultMap type="AdmNtfcSetVO" id="AdmNtfcSet">
        <result property="usrId" column="USR_ID"/>
        <result property="ntfcId" column="NTFC_ID"/>
        <result property="actFlg" column="ACT_FLG"/>
    </resultMap>
    
    <resultMap id="AdmMdlStVOMap" type="AdmMdlStVO">
        <result property="comCd" column="COM_CD"/>
        <result property="prntCd" column="PRNT_CD"/>
        <result property="cdNm" column="CD_NM"/>
    </resultMap>

    <select id="selectListModuleSetting" resultMap="AdmMnuPgm">
        SELECT
        *
        FROM ADM_MNU_PGM MN
        WHERE MN.PRNT_MNU_ID IN ( SELECT A.MNU_PGM_ID FROM ADM_MNU_PGM A WHERE A.MNU_PGM_NM = 'Settings')
        AND MN.MNU_FLG = 'Y'
        AND MN.DELT_STS_FLG = 'N'
        AND MN.MNU_USD = 'N'
    </select>

    <select id="selectModuleNtfc" resultMap="AdmMdlStVOMap">
        SELECT
            *
        FROM ADM_COM_CD CD
        WHERE CD.PRNT_CD = #{prntCd}
            AND CD.USE_FLG = 'Y'
            AND CD.DELT_STS_FLG = 'N'
        ORDER BY
            CD.ORD_BY_NO ASC
    </select>

    <select id="selectNtfcTpByComCd" parameterType="string" resultMap="AdmNtfcTpVOMap">
        SELECT * FROM ADM_NTFC_TP NTFC
        WHERE NTFC.COM_CD = #{comCd}
    </select>

    <select id="selectNtfcTpByNtfcId" parameterType="string" resultMap="AdmNtfcTpVOMap">
        SELECT * FROM ADM_NTFC_TP NTFC
        WHERE NTFC.NTFC_ID = #{ntfcId}
    </select>

    <select id="selectAllNtfcTp" resultMap="AdmNtfcTpVOMap">
        SELECT * FROM ADM_NTFC_TP NTFC
    </select>

    <select id="selectSettingsByUsr" parameterType="string" resultMap="AdmNtfcSet">
        SELECT
        *
        FROM ADM_NTFC_SET ST
        WHERE ST.USR_ID = #{usrId}
        <if test="ntfcId != null">
            and ST.NTFC_ID = #{ntfcId}
        </if>
    </select>

    <select id="selectComCdByPrntCd" parameterType="string" resultType="string">
        SELECT
            CD.COM_CD
        FROM ADM_COM_CD CD
            START WITH CD.PRNT_CD = #{prntCd}
            CONNECT BY PRIOR CD.COM_CD = CD.PRNT_CD
    </select>

    <select id="selectPrntCdByComCd" parameterType="string" resultType="string">
        SELECT
            CD.PRNT_CD
        FROM ADM_COM_CD CD
            START WITH CD.COM_CD = #{comCd}
        CONNECT BY PRIOR CD.COM_CD = CD.PRNT_CD
    </select>

    <select id="selectAllChildNtfcByComCd" resultType="string" parameterType="map">
        SELECT
            NTFC.NTFC_ID
        FROM ADM_NTFC_TP NTFC
        WHERE
            NTFC.COM_CD in
            <foreach collection="comCdLst" item="item" separator="," close=")" open="(">
                #{item}
            </foreach>
            AND NTFC.NTFC_TP_CD = #{ntfcTpCd}
    </select>

    <select id="selectActFlgByUsr" resultType="string" parameterType="string">
        SELECT
            ST.ACT_FLG
        FROM ADM_NTFC_SET ST INNER JOIN ADM_NTFC_TP TP
                ON ST.NTFC_ID = TP.NTFC_ID
        WHERE
            ST.USR_ID = #{usrId}
        AND TP.COM_CD = #{comCd}
        AND TP.NTFC_TP_CD = #{ntfcTpCd}
    </select>

    <insert id="insertAdmNtfcSet" parameterType="com.dou.adm.models.AdmNtfcSetVO">
        INSERT INTO ADM_NTFC_SET(
        USR_ID,
        NTFC_ID,
        ACT_FLG,
        CRE_DT,
        CRE_USR_ID,
        UPD_DT,
        UPD_USR_ID)
        VALUES (
        #{usrId},
        #{ntfcId},
        'Y',
        sysdate,
        #{usrId},
        sysdate,
        #{usrId}
        )
    </insert>

    <update id="setActFlgByNtfcUsrId" parameterType="map">
        UPDATE ADM_NTFC_SET ST
            SET ST.ACT_FLG = #{actFlg},
            ST.UPD_USR_ID = #{usrId},
            ST.UPD_DT = sysdate
        WHERE
            ST.NTFC_ID = #{ntfcId}
            AND ST.USR_ID = #{usrId}
    </update>
</mapper>