<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.adm.mappers.TeamUserMapper">

	<resultMap id="TeamUserMap" type="TeamUserVO">
		<result property="teamId" column="TEAM_ID" javaType="String"/>
		<result property="teamNm" column="TEAM_NM" javaType="String"/>
		<result property="teamCd" column="TEAM_CD" javaType="String"/>
		<result property="usrId" column="USR_ID" javaType="String"/>
		<result property="usrNm" column="USR_NM" javaType="String"/>
		<result property="aplyStDt" column="APLY_ST_DT" javaType="String"/>
		<result property="aplyEndDt" column="APLY_END_DT" javaType="String"/>
		<result property="aproOwnrFlg" column="APRO_OWNR_FLG" javaType="String"/>
	</resultMap>

	<select id="selectUserListByTeamId" parameterType="hashMap" resultMap="TeamUserMap">
		SELECT /** sys.TeamUser.selectUserListByTeamId */
		TMUSR.TEAM_ID,
		TM.TEAM_NM,
		TMUSR.USR_ID,
		TM.TEAM_CD,
		USR.USR_NM,
		to_char(TMUSR.APLY_ST_DT,'yyyy-mm-dd') APLY_ST_DT,
		to_char(TMUSR.APLY_END_DT,'yyyy-mm-dd') APLY_END_DT,
		TMUSR.APRO_OWNR_FLG
		FROM
		ADM_USR USR,
		ADM_TEAM TM,
		ADM_TEAM_USR TMUSR
		WHERE 1 = 1
		AND TMUSR.USR_ID = USR.USR_ID
		AND TMUSR.TEAM_ID = TM.TEAM_ID
		<!--
			<dynamic prepend="AND TMUSR.TEAM_ID IN">
					<iterate property="teamIdList" open="(" close=")" conjunction=",">
						#teamIdList[]#
					</iterate>
			</dynamic>
		-->
		<if test="teamIdList != null and teamIdList.size() &gt; 0"> AND TMUSR.TEAM_ID IN
			<foreach collection="teamIdList" item="item" separator="," close=")" open="(">
				#{item}
			</foreach>
		</if>
		AND TMUSR.USR_ID != TM.TEAM_MGR_ID
		AND USR.ACT_FLG = 'Y'
		AND USR.DELT_STS_FLG = 'N'
		ORDER BY TEAM_NM, USR_NM
	</select>

	<resultMap id="TeamUserListMap" type="TeamUserVO">
		<result property="teamId" column="TEAM_ID" javaType="String"/>
		<result property="teamNm" column="TEAM_NM" javaType="String"/>
	</resultMap>
	<select id="selectTeamListByTeamName" parameterType="hashMap" resultMap="TeamUserListMap">
		SELECT /** sys.TeamUser.selectTeamListByTeamName */
			TEAM_ID,
			TEAM_NM
		FROM ADM_TEAM
		WHERE 1 = 1
		AND UPPER(TEAM_NM) LIKE '%' || UPPER(#{teamNm}) || '%'
		AND DELT_STS_FLG = 'N'
		AND CO_CD = 'DOU'
	</select>

	<resultMap id="AdmUsrMap" type="AdmUsrVO">
		<result property="usrId" column="USR_ID" javaType="String"/>
		<result property="usrNm" column="USR_NM" javaType="String"/>
		<result property="comUsrDt" column="COM_USR_DT" javaType="String"/>
		<result property="comUsrSx" column="COM_USR_SX" javaType="String"/>
		<result property="coTelNo" column="CO_TEL_NO" javaType="String"/>
		<result property="hmTelNo" column="HM_TEL_NO" javaType="String"/>
		<result property="mphnNo" column="MPHN_NO" javaType="String"/>
		<result property="faxNo" column="FAX_NO" javaType="String"/>
		<result property="usrEml" column="USR_EML" javaType="String"/>
		<result property="actFlg" column="ACT_FLG" javaType="String"/>
		<result property="deltStsFlg" column="DELT_STS_FLG" javaType="String"/>
		<result property="imgUrl" column="IMG_URL" javaType="String"/>
		<result property="age" column="AGE" javaType="Integer"/>
		<result property="ntlt" column="NTLT" javaType="String"/>
		<result property="mrrStsCd" column="MRR_STS_CD" javaType="String"/>
		<result property="edu" column="EDU" javaType="String"/>
		<result property="hby" column="HBY" javaType="String"/>
		<result property="wrkExp" column="WRK_EXP" javaType="String"/>
		<result property="hmAddr" column="HM_ADDR" javaType="String"/>
		<result property="spct" column="SPCT" javaType="String"/>
		<result property="engLvl" column="ENG_LVL" javaType="String"/>
		<result property="prjHis" column="PRJ_HIS" javaType="String"/>
		<result property="cntCd" column="CNT_CD" javaType="String"/>
		<result property="ctyNm" column="CTY_NM" javaType="String"/>
		<result property="isRoot" column="IS_ROOT" javaType="String"/>
		<result property="brdyVal" column="BRDY_VAL" javaType="String"/>
		<result property="coCd" column="CO_CD" javaType="String"/>
		<result property="ctrbPntNo" column="CTRB_PNT_NO" javaType="Double"/>
		<result property="perfPntNo" column="PERF_PNT_NO" javaType="Double"/>
		<result property="createUser" column="cre_usr_id"/>
		<result property="updateUser" column="upd_usr_id"/>
		<result property="createDate" column="cre_dt"/>
		<result property="updateDate" column="upd_dt"/>
		<result property="usrNo" column="EMPE_NO"/>
		<result property="fullNm" column="FULL_NM" javaType="String"/>
		<result property="usrTeam" column="TEAM_NM" javaType="String"/>
		<result property="usrSkypeId" column="SKY_ID" javaType="String"/>
	</resultMap>
	<select id="selectUserListByTeamIdHashMap" parameterType="hashMap" resultMap="AdmUsrMap">
		SELECT /** sys.TeamUser.selectUserListByTeamIdHashMap */
			USR.USR_ID,
			USR.USR_NM,
			USR.FULL_NM,
			USR.COM_USR_DT,
			USR.COM_USR_SX,
			USR.CO_TEL_NO,
			USR.HM_TEL_NO,
			USR.MPHN_NO,
			USR.FAX_NO,
			USR.USR_EML,
			USR.ACT_FLG,
			USR.DELT_STS_FLG,
			USR.IMG_URL,
			USR.AGE,
			USR.NTLT,
			USR.MRR_STS_CD,
			USR.EDU,
			USR.HBY,
			USR.WRK_EXP,
			USR.HM_ADDR,
			USR.SPCT,
			USR.ENG_LVL,
			USR.PRJ_HIS,
			USR.CNT_CD,
			USR.CTY_NM,
			USR.IS_ROOT,
			TO_CHAR(TO_DATE(BRDY_VAL, 'ddMMyyyy'), 'dd/MM/yyyy') BRDY_VAL,
			USR.CO_CD,
			USR.CTRB_PNT_NO,
			USR.PERF_PNT_NO,
			USR.cre_usr_id, USR.cre_dt, USR.upd_usr_id, USR.upd_dt,
			USR.EMPE_NO,
			to_char(USR.EMPE_ST_DT,'dd/MM/yyyy') EMPE_ST_DT,
			USR.LOC_CD,
			NVL(USR.EMPE_TP_CD,'EXP') EMPE_TP_CD,
       		MONTHS_BETWEEN(SYSDATE, USR.EMPE_ST_DT) WORK_MONTHS_NUMBER,
       		TO_NUMBER(TO_CHAR(USR.EMPE_ST_DT, 'MM')) WORK_START_DAY,
       		TM.TEAM_NM
		FROM
			ADM_USR USR,
			ADM_TEAM TM,
			ADM_TEAM_USR TMUSR
		WHERE 1 = 1
			AND TMUSR.USR_ID = USR.USR_ID
			AND TMUSR.TEAM_ID = TM.TEAM_ID
			AND TMUSR.TEAM_ID = #{teamId}
			AND USR.ACT_FLG = 'Y'
			AND USR.DELT_STS_FLG = 'N'
			AND USR.CO_CD = 'DOU'
		ORDER BY USR_NM
	</select>

	<select id="selectTeamListByTeamMgrId" parameterType="HashMap" resultMap="TeamUserListMap">
		SELECT
			DISTINCT(TEAM_ID),
			TEAM_NM
		FROM ADM_TEAM
		WHERE DELT_STS_FLG = 'N'
			AND CO_CD = #{coCd}
			START WITH TEAM_MGR_ID = #{teamMgrId}
				CONNECT BY NOCYCLE PRIOR TEAM_ID = PRNT_TEAM_ID
				ORDER SIBLINGS BY TEAM_ID
	</select>

	<select id="selectUserListByTeamAndProject" parameterType="HashMap" resultMap="AdmUsrMap">
		/** sys.TeamUser.selectUserListByTeamAndProject */
		(	/** 1. By project */
		SELECT DISTINCT
		USR.USR_ID,
		USR.USR_NM,
		USR.FULL_NM,
		USR.COM_USR_DT,
		USR.COM_USR_SX,
		USR.CO_TEL_NO,
		USR.HM_TEL_NO,
		USR.MPHN_NO,
		USR.FAX_NO,
		USR.USR_EML,
		USR.ACT_FLG,
		USR.DELT_STS_FLG,
		USR.IMG_URL,
		USR.AGE,
		USR.NTLT,
		USR.MRR_STS_CD,
		USR.EDU,
		USR.HBY,
		USR.WRK_EXP,
		USR.HM_ADDR,
		USR.SPCT,
		USR.ENG_LVL,
		USR.PRJ_HIS,
		USR.CNT_CD,
		USR.CTY_NM,
		USR.IS_ROOT,
		TO_CHAR(TO_DATE(BRDY_VAL, 'ddMMyyyy'), 'dd/MM/yyyy') BRDY_VAL,
		USR.CO_CD,
		USR.CTRB_PNT_NO,
		USR.PERF_PNT_NO,
		USR.cre_usr_id, USR.cre_dt, USR.upd_usr_id, USR.upd_dt,
		USR.EMPE_NO,
		to_char(USR.EMPE_ST_DT,'dd/MM/yyyy') EMPE_ST_DT,
		USR.LOC_CD,
		NVL(USR.EMPE_TP_CD,'EXP') EMPE_TP_CD,
		MONTHS_BETWEEN(SYSDATE, USR.EMPE_ST_DT) WORK_MONTHS_NUMBER,
		TO_NUMBER(TO_CHAR(USR.EMPE_ST_DT, 'MM')) WORK_START_DAY,
		USR.SKY_ID,
		TM.TEAM_NM
		FROM
		ADM_USR USR
		LEFT JOIN ADM_TEAM_USR TMUSR ON TMUSR.USR_ID = USR.USR_ID AND TMUSR.APRO_OWNR_FLG = 'Y'
		LEFT JOIN ADM_TEAM TM ON TM.TEAM_ID = TMUSR.TEAM_ID
		JOIN ADM_PJT_USR PJTUSR ON PJTUSR.USR_ID = USR.USR_ID
		WHERE
		1 = 1
		<if test=" listProjectId == null or listProjectId.size() == 0">
			AND 0 = 1
		</if>
		<if test=" listProjectId != null or listProjectId.size() &gt; 0">
			AND PJTUSR.PJT_ID in
			<foreach collection="listProjectId" item="item" separator="," close=")" open="(">
				#{item}
			</foreach>
		</if>
		AND USR.DELT_STS_FLG = 'N'
		AND USR.ACT_FLG = 'Y'
		AND USR.CO_CD = #{coCd}
		AND USR.USR_ID != 'admin'
		)

		UNION

		(	/** 1. By team */
		SELECT DISTINCT
		USR.USR_ID,
		USR.USR_NM,
		USR.FULL_NM,
		USR.COM_USR_DT,
		USR.COM_USR_SX,
		USR.CO_TEL_NO,
		USR.HM_TEL_NO,
		USR.MPHN_NO,
		USR.FAX_NO,
		USR.USR_EML,
		USR.ACT_FLG,
		USR.DELT_STS_FLG,
		USR.IMG_URL,
		USR.AGE,
		USR.NTLT,
		USR.MRR_STS_CD,
		USR.EDU,
		USR.HBY,
		USR.WRK_EXP,
		USR.HM_ADDR,
		USR.SPCT,
		USR.ENG_LVL,
		USR.PRJ_HIS,
		USR.CNT_CD,
		USR.CTY_NM,
		USR.IS_ROOT,
		TO_CHAR(TO_DATE(BRDY_VAL, 'ddMMyyyy'), 'dd/MM/yyyy') BRDY_VAL,
		USR.CO_CD,
		USR.CTRB_PNT_NO,
		USR.PERF_PNT_NO,
		USR.cre_usr_id, USR.cre_dt, USR.upd_usr_id, USR.upd_dt,
		USR.EMPE_NO,
		to_char(USR.EMPE_ST_DT,'dd/MM/yyyy') EMPE_ST_DT,
		USR.LOC_CD,
		NVL(USR.EMPE_TP_CD,'EXP') EMPE_TP_CD,
		MONTHS_BETWEEN(SYSDATE, USR.EMPE_ST_DT) WORK_MONTHS_NUMBER,
		TO_NUMBER(TO_CHAR(USR.EMPE_ST_DT, 'MM')) WORK_START_DAY,
		USR.SKY_ID,
		TM.TEAM_NM
		FROM
		ADM_USR USR
		JOIN ADM_TEAM_USR TMUSR ON TMUSR.USR_ID = USR.USR_ID AND TMUSR.APRO_OWNR_FLG = 'Y'
		JOIN ADM_TEAM TM ON TM.TEAM_ID = TMUSR.TEAM_ID
		WHERE 1 = 1
		<if test="listTeamId == null or listTeamId.size() == 0">
			AND 0 = 1
		</if>
		<if test="listTeamId != null and listTeamId.size() &gt; 0">
			AND TMUSR.TEAM_ID in
			<foreach collection="listTeamId" item="item" separator="," close=")" open="(">
				#{item}
			</foreach>
		</if>
		AND USR.DELT_STS_FLG = 'N'
		AND USR.ACT_FLG = 'Y'
		AND USR.CO_CD = #{coCd}
		AND USR.USR_ID != 'admin'
		)
		ORDER BY USR_NM
	</select>
</mapper>