<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.bil.mappers.BillingManagementMapper">
    <resultMap type="BillingVO" id="billMap">
        <result property="ctrtId" column="CTRT_ID" javaType="String"/>
        <result property="ctrtRtId" column="CTRT_RT_ID" javaType="String"/>
        <result property="ctrtNm" column="CTRT_NM" javaType="String"/>
        <result property="idxSeq" column="IDX_SEQ" javaType="Integer"/>
        <result property="bilSeq" column="BIL_SEQ" javaType="Integer"/>
        <result property="custCd" column="CUST_CD" javaType="String"/>
        <result property="custNm" column="CUST_NM" javaType="String"/>
        <result property="monYr" column="MON_YR" javaType="String"/>
        <result property="term" column="TERM" javaType="Integer"/>
        <result property="bilNo" column="BIL_NO" javaType="String"/>
        <result property="prodId" column="PROD_ID" javaType="String"/>
        <result property="prodCt" column="PROD_CT" javaType="String"/>
        <result property="prodNm" column="PROD_NM" javaType="String"/>
        <result property="srvcNm" column="PROD_DTL" javaType="String"/>
        <result property="effctFrom" column="RT_EFF_FM_DT" javaType="String"/>
        <result property="effctTo" column="RT_EFF_TO_DT" javaType="String"/>
        <result property="srvcDate" column="SVC_ST_DT" javaType="String"/>
        <result property="sellPrc" column="SELL_RT_AMT" javaType="Double"/>
        <result property="preSellPrc" column="SELL_RT_AMT" javaType="Double"/>
        <result property="preQuantity" column="QTY_NO" javaType="Integer"/>
        <result property="quantity" column="QTY_NO" javaType="Integer"/>
        <result property="bilAmt" column="BIL_AMT" javaType="Double"/>
        <result property="agcRto" column="AGN_FEE_RTO" javaType="Integer"/>
        <result property="agcFee" column="AGC_FEE" javaType="Double"/>
        <result property="isConfirm" column="BIL_CFM_FLG" javaType="String"/>
        <result property="preConfirm" column="BIL_CFM_FLG" javaType="String"/>
        <result property="isBilled" column="IS_BILLED" javaType="String"/>
        <result property="preBilled" column="IS_BILLED" javaType="String"/>
        <result property="bilDt" column="BIL_DT" javaType="String"/>
    </resultMap>

    <select id="generateBillNo" parameterType="HashMap" resultType="String">
		/**[SQLID: bil.BillingManagementMapper.generateBillNo]*/
		SELECT #{coCd} || TO_CHAR(SYSDATE,'YYYYMM')|| BIL_NO_SEQ.NEXTVAL FROM DUAL
	</select>

    <select id="searchBillingSeq" resultType="Integer">
		/**[SQLID: bil.BillingManagementMapper.searchBillingSeq]*/
		SELECT BIL_NO_SEQ.NEXTVAL FROM DUAL
	</select>

    <insert id="insertBilling" parameterType="BillingVO">
		/**[SQLID: bil.BillingManagementMapper.insertBilling]*/
		INSERT INTO	BIL_BIL
				(
					BIL_SEQ,
					CTRT_RT_ID,
					CTRT_ID,
					BIL_NO,
					BIL_CHG_YRMON,
					QTY_NO,
					SELL_RT_AMT,
					BIL_CFM_FLG,
					PAY_CFM_FLG,
					DELT_FLG,
					BIL_MON,
					CRE_USR_ID,
					CRE_DT,
					UPD_USR_ID,
					UPD_DT
				)
		VALUES	(
					#{bilSeq},
					#{ctrtRtId},
					#{ctrtId},
					#{bilNo},
					#{monYr},
					#{qtyNo},
					#{sellRtAmt},
					#{bilCfmFlg},
					#{payCfmFlg},
					'N',
					#{bilMon},
					#{createUser},
					sysdate,
					#{updateUser},
					sysdate
				)
	</insert>

	<update id="updateBilling" parameterType="BillingVO">
		/**[SQLID: bil.BillingManagementMapper.updateBilling]*/
		UPDATE 	BIL_BIL
		SET
		<if test="ctrtRtId != null and ctrtRtId != '' ">
			CTRT_RT_ID = #{ctrtRtId},
		</if>
		<if test="bilNo != null and bilNo != ''">
			BIL_NO = #{bilNo},
		</if>
		<if test="monYr != null and monYr != '' ">
			BIL_CHG_YRMON = #{monYr},
		</if>
		<if test="qtyNo != null and qtyNo != '' ">
			QTY_NO = #{qtyNo},
		</if>
		<if test="sellRtAmt != null and sellRtAmt != '' ">
			SELL_RT_AMT = #{sellRtAmt},
		</if>
		<if test="bilCfmFlg != null and bilCfmFlg != '' ">
			BIL_CFM_FLG = #{bilCfmFlg},
		</if>
		<if test="payCfmFlg != null and payCfmFlg != '' ">
			PAY_CFM_FLG = #{payCfmFlg},
		</if>
		UPD_USR_ID = #{updateUser},
		UPD_DT = sysdate
		WHERE	BIL_SEQ = #{bilSeq}
	</update>

	<update id="deleteBilling" parameterType="BillingVO">
		/**[SQLID: bil.BillingManagementMapper.deleteBilling]*/
		UPDATE	BIL_BIL
		SET		DELT_FLG = 'Y'
		WHERE	BIL_SEQ = #{bilSeq}
	</update>

	<update id="deleteBillingByCtrtRtId">
		/**[SQLID: bil.BillingManagementMapper.deleteBilling]*/
		UPDATE	BIL_BIL
		SET		DELT_FLG = 'Y',
				UPD_DT = sysdate,
				UPD_USR_ID = #{usrId}
		WHERE	CTRT_RT_ID = #{ctrtRtId} and CTRT_ID = #{ctrtId}
	</update>


</mapper>