<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.bil.mappers.OutstandingManagementMapper">
    <resultMap type="OutstandingVO" id="OutstandingMap">
        <result property="custCd" 		column="CUST_ID" 		javaType="String"/>
        <result property="custNm" 		column="CO_NM" 			javaType="String"/>
        <result property="bilNo" 		column="BIL_NO" 		javaType="String"/>
        <result property="bilAmt" 		column="BIL_AMT" 		javaType="Double"/>
        <result property="cltAmt" 		column="CLT_AMT" 		javaType="String"/>
        <result property="bilDt" 		column="BIL_DT" 		javaType="String"/>
        <result property="payTermPrd" 	column="PAY_TERM_PRD" 	javaType="Integer"/>
        <result property="agn" 			column="AGING" 			javaType="Integer"/>
        <result property="cltDt" 		column="CLT_DT" 		javaType="String"/>
        <result property="dueBal" 		column="DUE_BAL" 		javaType="Double"/>
        <result property="pastDueBal" 	column="PAST_DUE_BAL" 	javaType="Double"/>
        <result property="isClt" 		column="CLT_FLG" 		javaType="String"/>
<!--		<result property="createUser" 	column="CRE_USR_ID"/>-->
<!--		<result property="updateUser" 	column="UPD_USR_ID"/>-->
<!--		<result property="createDate" 	column="CRE_DT"/>-->
<!--		<result property="updateDate" 	column="UPD_DT"/>-->
    </resultMap>

    <insert id="insertOutstanding" parameterType="OutstandingVO">
		INSERT INTO BIL_OTS
		(
			BIL_NO,
			CUST_ID,
			BIL_DT,
			PAY_TERM_PRD,
			CLT_FLG,
			CRE_USR_ID,
			CRE_DT,
			UPD_USR_ID,
			UPD_DT
		)
		VALUES
		(
			#{bilNo},
			#{custCd},
			TO_CHAR(SYSDATE,'YYYYMMDD'),
			#{payTermPrd},
			'N',
			#{createUser},
			SYSDATE,
			#{updateUser},
			SYSDATE
		)
	</insert>

	<update id="updateOutstanding" parameterType="OutStandingVO">
		UPDATE
		BIL_OTS BIL
		SET
		BIL.CLT_AMT = #{cltAmt},
		BIL.CLT_DT	= #{cltDt},
		BIL.CLT_FLG = #{isClt},
		BIL.UPD_DT = SYSDATE,
		BIL.UPD_USR_ID = #{updateUser}
		WHERE 1 = 1
		<if test="bilNo != null and bilNo != ''">
			AND BIL.BIL_NO = #{bilNo}
		</if>
	</update>

</mapper>