<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.bil.mappers.ProductMapper">

    <resultMap type="ProductCodeVO" id="ProductCodeMap">
        <result property="prodId" column="PROD_ID" javaType="String"/>
        <result property="coCd" column="CO_CD" javaType="String"/>
        <result property="prodTpCd" column="PROD_TP_CD" javaType="String"/>
        <result property="prodNm" column="PROD_NM" javaType="String"/>
        <result property="prodDesc" column="PROD_DESC" javaType="String"/>
        <result property="creDt" column="CRE_DT" javaType="String"/>
        <result property="creUsrId" column="CRE_USR_ID" javaType="String"/>
    </resultMap>

    <resultMap type="ProductVO" id="ProductVOMap">
        <result property="prodDtlId" 	column="PROD_DTL_ID" 		javaType="String"/>
        <result property="prcUtTpCd" 	column="PRC_UT_TP_CD" 		javaType="String"/>
        <result property="prcUtMeasCd" 	column="PRC_UT_MEAS_CD" 	javaType="String"/>
        <result property="prodCateId" 	column="PROD_CATE_ID" 		javaType="String"/>
        <result property="prodCateNm" 	column="PROD_CATE_NM" 		javaType="String"/>
        <result property="prodId" 		column="PROD_ID" 			javaType="String"/>
        <result property="prodNm" 		column="PROD_NM" 			javaType="String"/>
        <result property="prodSvcId" 	column="PROD_SVC_ID" 		javaType="String"/>
        <result property="prodSvcNm" 	column="PROD_SVC_NM" 		javaType="String"/>
        <result property="prodDesc" 	column="PROD_DESC" 			javaType="String"/>
        <result property="dfltFlg" 		column="DFLT_FLG" 			javaType="String"/>
        <result property="stndRtAmt" 	column="STND_RT_AMT" 		javaType="Double"/>
        <result property="minChg" 		column="MIN_CHG_AMT" 		javaType="Integer"/>
        <result property="cltPrtn" 		column="CLT_PRTN_VAL" 		javaType="String"/>
        <result property="prcUsgCd" 	column="PRC_USG_CD" 		javaType="String"/>
        <result property="bilCd" 		column="BIL_CD" 			javaType="String"/>
        <result property="bilTp" 		column="BIL_TP" 			javaType="String"/>
        <result property="rtEffFmDt" 	column="RT_EFF_FM_DT" 		javaType="String"/>
        <result property="rtEffToDt" 	column="RT_EFF_TO_DT" 		javaType="String"/>
    </resultMap>

    <select id="selectAllProductCode" resultMap="ProductCodeMap">
        /**[SQLID: bil.ProductCode.selectAllProductCode]*/
        SELECT pr.PROD_ID,
               pr.CO_CD,
               pr.PROD_TP_CD,
               pr.PROD_NM,
               pr.PROD_DESC,
               pr.CRE_USR_ID,
               pr.CRE_DT
        FROM BIL_PROD pr
        WHERE 1 = 1
          AND pr.CO_CD = #{coCd}
          AND DELT_FLG = 'N'
        ORDER BY pr.PROD_ID
    </select>

    <resultMap type="PricingUnitVO" id="Bil001PricingUnitMap">
        <result property="prcUtTpCd" column="PRC_UT_TP_CD" javaType="String"/>
        <result property="prcUtMeasCd" column="PRC_UT_MEAS_CD" javaType="String"/>
        <result property="prcUtTpNm" column="PRC_UT_TP_NM" javaType="String"/>
        <result property="prcUtMeasNm" column="PRC_UT_MEAS_NM" javaType="String"/>
        <result property="prcUtNm" column="PRC_UT_NM" javaType="String"/>
    </resultMap>
    <select id="selectAllPricingUnit" resultMap="Bil001PricingUnitMap">
        /**[SQLID: bil.ProductCode.selectAllPricingUnit]*/
        SELECT DISTINCT PRC_UT_TP_CD,
                        C1.CD_NM         PRC_UT_TP_NM,
                        PRC_UT_MEAS_CD,
                        C2.CD_NM         PRC_UT_MEAS_NM,
                        (C1.CD_NM
                            || ' '
                            || C2.CD_NM) PRC_UT_NM
        FROM BIL_PRC_UT UT,
             BIL_COM_CD C1,
             BIL_COM_CD C2
        WHERE 1 = 1
          AND UT.DELT_FLG = 'N'
          AND UT.CO_CD = #{coCd}
          AND UT.PRC_UT_TP_CD = C1.PRNT_CD
            || C1.COM_CD
          AND C1.CO_CD = #{coCd}
          AND C1.USE_FLG = 'Y'
          AND UT.PRC_UT_MEAS_CD = C2.PRNT_CD
            || C2.COM_CD
          AND C2.CO_CD = #{coCd}
          AND C2.USE_FLG = 'Y'
    </select>

    <resultMap type="ProductVO" id="ExistProductMap">
        <result property="prodDtlId" column="PROD_DTL_ID" javaType="String"/>
    </resultMap>
    <select id="selectExistProductInCtrtRt" resultMap="ExistProductMap">
        /**[SQLID: bil.ProductCode.selectExistProductInCtrtRt]*/
        SELECT pd.PROD_DTL_ID
        FROM BIL_PROD_DTL pd, BIL_CTRT_RT cr, SLS_CTRT sc
        WHERE 1 = 1
        AND cr.CTRT_ID = sc.CTRT_ID
        AND sc.DELT_FLG = 'N'
        AND pd.PROD_DTL_ID = cr.PROD_DTL_ID
        AND pd.DELT_FLG = 'N'
        <if test="coCd != null">
            AND pd.CO_CD = #{coCd}
        </if>
    </select>

    <select id="selectAllProduct" resultMap="ProductVOMap" parameterType="HashMap">
        /**[SQLID: bil.ProductCode.selectAllProduct]*/
        SELECT
        pd.PROD_DTL_ID,
        pd.PRC_UT_TP_CD,
        pd.PRC_UT_MEAS_CD,
        pd.PROD_CATE_ID,
        (SELECT PROD_NM FROM BIL_PROD BIL WHERE BIL.PROD_ID = pd.PROD_CATE_ID) AS PROD_CATE_NM,
        pd.PROD_ID,
        (SELECT PROD_NM FROM BIL_PROD BIL WHERE BIL.PROD_ID = pd.PROD_ID) AS PROD_NM,
        pd.PROD_SVC_ID,
        (SELECT PROD_NM FROM BIL_PROD BIL WHERE BIL.PROD_ID = pd.PROD_SVC_ID) AS PROD_SVC_NM,
        pd.PROD_DESC,
        pd.DFLT_FLG,
        NVL(pd.STND_RT_AMT, 0) STND_RT_AMT,
        NVL(pd.MIN_CHG_AMT, 0) MIN_CHG_AMT,
        NVL(pd.CLT_PRTN_VAL, 0) CLT_PRTN_VAL,
        pd.PRC_USG_CD,
        (SELECT DFLT_VAL FROM BIL_COM_CD WHERE PRNT_CD = 'PRC_USG_CD' AND CONCAT(PRNT_CD, COM_CD) = pd.PRC_USG_CD AND ROWNUM =1) BIL_CD,
        (SELECT CD_DESC FROM BIL_COM_CD WHERE PRNT_CD = 'PRC_USG_CD' AND CONCAT(PRNT_CD, COM_CD) = pd.PRC_USG_CD AND ROWNUM =1) BIL_TP,
        pd.RT_EFF_FM_DT,
        pd.RT_EFF_TO_DT
        FROM   	BIL_PROD_DTL pd
        WHERE 	1 = 1
        AND pd.DELT_FLG = 'N'
        <if test="prodCateId != null and prodCateId != '' ">
            AND pd.PROD_CATE_ID = #{prodCateId}
        </if>
        <if test="prodId != null and prodId != '' ">
            AND pd.PROD_ID = #{prodId}
        </if>
        <if test="prodSvcId != null and prodSvcId != '' ">
            AND pd.PROD_SVC_ID = #{prodSvcId}
        </if>
        <if test="coCd != null and coCd != '' ">
            AND pd.CO_CD = #{coCd}
        </if>
    </select>
</mapper>